.about-top {
	position: relative;
	height: calc(var(--vh, 1vh)*100 + 160px);
	margin-top: -21px;
	position: relative;
	padding-bottom: 162px;

	@media(max-width:992px) {
		height: calc(var(--vh, 1vh)*100 + 50px);
	}

	.download-presentation {
		position: absolute;
		right: 20px;
		transform: none;
		top: calc(100vh - 277px);

		@media(max-width:992px) {
			top: initial !important;
			bottom: 173px;
		}
	}

	.breadcrumb {
		color: #BEC2C8;
		position: absolute;
		top: 20px;
	}

	&__title {
		font-weight: 700;
		font-size: 18px;
		line-height: 32px;
		margin-bottom: -20px;

		@media(max-width:992px) {
			margin-bottom: 0;
			;
		}
	}

	&__content {
		position: absolute;
		left: 0;
		top: 15%;
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	&__bg {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		width: 100vw;
		height: 100%;
		overflow: hidden;

		&>picture>img,
		&>img {
			position: absolute;
			left: 0;
			top: -5%;
			width: 100%;
			height: 105%;
			object-fit: cover;
			object-position: top center;
		}
	}
}

.about-sova {
	border-top: 5px solid #2F3740;
	padding: 40px;
	padding-top: 82px;
	padding-bottom: 100px;
	margin-top: -150px;
	background: #fff;

	@media(max-width:992px) {
		padding-left: 16px;
		padding-top: 50px;
		padding-right: 16px;
		padding-bottom: 45px;
	}

	&__row {
		max-width: 1100px;
		margin-left: auto;
		margin-right: auto;
		display: grid;
		gap: 30px;
		grid-template-columns: 60% auto;

		@media(max-width:992px) {
			grid-template-columns: 1fr;
		}
	}

	&__desc {
		p {
			font-size: 18px;
			@include lh(18, 32);
			max-width: 560px;

			@media(max-width:992px) {
				font-size: 16px;
			}

			@media(max-width:768px) {
				font-size: 14px;
			}
		}
	}

	&__number {
		&:nth-child(1) {
			grid-area: s1;
		}

		&:nth-child(2) {
			grid-area: s2;
		}

		&:nth-child(3) {
			grid-area: s3;
		}

		&:nth-child(4) {
			grid-area: s4;
		}

		&:nth-child(5) {
			grid-area: s5;
		}

		span {
			font-family: 'Unbounded';
			font-style: normal;
			font-weight: 500;
			font-size: 64px;
			@include lh(64, 79);
			letter-spacing: -2px;
			font-size: clamp(48px, calc(48px + (64 - 48)*((100vw - 375px)/(1440 - 375))), 64px);

		}

		font-size: 14px;
	}

	&__numbers {
		display: grid;
		grid-column: 1fr 1fr;
		grid-template-areas: "s1 s2"
			"s3 s4"
			"s5 s5";
		gap: 34px;


	}
}

.about-1 {

	.h1,
	h1 {
		@media(min-width:1100px) {
			max-width: 75%;
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		margin-bottom: 60px;

		@media(max-width:992px) {
			margin-bottom: 0px;
		}
	}

	.h1,
	h1 {}

	p {

		margin-left: calc(17px + 40%);

		@media(max-width:992px) {
			margin-left: 0;
		}
	}

	&__gallery {
		gap: 17px;
		display: grid;
		grid-template-columns: 40% auto;

		@media(max-width:768px) {
			grid-template-columns: 1fr;
		}
	}

	&__gallery-l {
		img {
			width: 100%;
		}

		@media(max-width:768px) {
			margin-left: -16px;
			max-width: 70%;
		}
	}


	&__gallery-r {
		padding-top: 130px;

		img {
			width: 100%;
		}

		@media(max-width:768px) {
			padding-top: 0;
			transform: translateX(16px);
		}
	}
}

.about-2 {
	background: #fff;
	position: relative;
	padding-top: 100px;
	padding-bottom: calc(20vw + 30px);
	margin-bottom: -20vw;

	@media(max-width:992px) {
		padding-top: 50px;
	}

	&::after {
		top: 0;
		z-index: 1;
		display: block;
		content: '';
		background: #fff;
		width: 100vw;
		position: absolute;
		height: 100%;
		left: 50%;
		transform: translateX(-50%);
	}

	.text {
		position: relative;

		z-index: 2;

		@media(min-width:1100px) {
			width: 75%;
		}
	}
}