.feedback.inner
	.feedback__wrapper(data-aos="fade-up")
		.feedback__video-wrap 
			video.video-click-play(src="video/preview.mp4"  playsinline) 
		.feedback__form-wrap 
			form.feedback__form#feedback-form(action="/" method="post")
				h4 Форма заявки
				p 
					small   Порог входа от 1 125 000 ₽ 100% собственность коттеджа
					br
					| и земли. 
				.feedback__form-inpts 
					label.input
						input( type="text" placeholder="Имя Фамилия" name="name" data-rule-required)
					label.input
						input( type="text" placeholder="Телефон" name="phone" data-rule-required)._mask-phone
				label.checkbox
					input(type="checkbox" name="agree"  data-rule-required ) 
					.checkbox__indicator 
						<svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1.5 4L4.5 6.5L8.5 1.5" stroke-width="2"/>
						</svg>

					.checkbox__text Отправляя данные в эту форму, я даю согласие на обработку
						br
						| моих персональных данных
				button(type="submit").btn-1 Отправить