.feedback {
	position: relative;

	@media(max-width:992px) {
		margin-top: 144px;
	}

	&__wrapper {
		background-color: #7A8E3B;
		background-image: url(../img/green-pattern.svg);
		display: grid;
		grid-template-columns: 340px auto;
		opacity: 1 !important;

		@media(max-width:992px) {
			display: flex;
			flex-direction: column;
			margin-left: -16px;
			margin-right: -16px;
			padding-left: 16px;
			padding-right: 16px;
		}
	}

	&__form-wrap {
		padding: 57px;
		display: flex;
		flex-direction: column;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		Color: #fff;

		@media(max-width:992px) {
			padding: 0;
			padding-top: 30px;
			padding-bottom: 60px;
		}
	}

	&__form {
		width: 100%;
		max-width: 736px;
	}

	.checkbox__indicator {}

	input:checked+.checkbox__indicator {
		background: #fff !important;

		path {
			stroke: #7a8e3b;
		}
	}

	&__form-inpts {
		display: grid;
		gap: 16px;
		margin: 30px 0;
		grid-template-columns: 1fr 1fr;

		@media(max-width:550px) {
			grid-template-columns: 1fr;
		}

		input {
			color: #fff;
			border-color: #95a464;

			&::placeholder {
				color: #fff;
			}

			&:hover,
			&:focus {
				border: 1px solid #CDD6AF;
			}

			&.valid {
				border-color: #fff;
			}

			&.error {
				border-color: red;
			}
		}
	}

	&__video-wrap {
		line-height: 0;
		position: relative;

		&::before {
			padding-bottom: 75%;
			display: block;
			content: '';
		}

		video {
			position: absolute;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		@media(max-width:992px) {
			width: 166px;
			height: 217px;
			object-fit: cover;
			margin-top: -74px;
			position: relative;
		}

		video {
			width: 100%;

			@media(max-width:992px) {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;

			}
		}
	}

	&::before {
		display: block;
		content: '';
		width: 100vw;
		left: 50%;
		height: 50%;
		top: 50%;

		background: #2F3740;
		position: absolute;
		transform: translateX(-50%);
	}
}