extends ../../layout/layout
block title
	title Sova 
block content
	.text 
		h1 Unbounded Semibold 42/52 кернинг -1%
		h2 Manrope medium 48/56 кернинг -2%
		h3 Manrope medium 32/44 
		h4 Manrope bold 24/36 кернинг -3%
		p Manrope light 16/24 кернинг -2% 
		p 
			big Manrope light 18/32
		p 
			small Manrope light 14/24
		ul
			li Акции, которые были завязаны на прямую проходимость. Фотоконкурс «Хочу в Сову!» был интегрирован в «Фестиваль Ледоколов», состоявшийся на набережной Лейтенанта Шмидта 1 и 2 мая. В течение 2-х дней все желающие могли сфотографироваться с зонтиками «Совы» и испытать удачу в конкурсе.
			li Активности, связанные с лидерами мнений. «Сеть коттеджей „Сова“ стали партнёрами онлайн вещания городской студии. С 29 апреля по 1 мая из студии „Город +“ велась прямая трансляция, эфир кросспостился  в городские и блогерские соцмедиа. В прямом эфире зрители смогли наблюдать встречи с уникальными людьми, которые влияют на туристический климат Петербурга. Гостями эфира стали руководители компаний, крупных досуговых площадок и специальные гости — председатель комитета по культуре и туризму Ленинградской области, председатель комитета по туризму Санкт-Петербурга.
		button.btn-1  Оставить заявку
		button.btn-2  Подробнее о компании