extends ../../layout/layout
block title
	title Sova 

block content

	.object-page
		.object-top.block 
			.object-top__bg
				+picture('loc-1','jpg')
			.download-presentation(data-popup="#feedback-popup")
				img(src="img/download-text.svg", alt="").download-presentation__text
				.download-presentation__circle
					<svg  class="download-presentation__img"width="52" height="62" viewBox="0 0 52 62" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M9.75151 50.4529C13.1033 56.2432 19.2682 59.808 25.9799 59.808C34.6327 59.808 41.9131 53.9549 44.0619 46.0017H7.22266"stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M25.9805 45.1318C25.9805 37.8386 30.5597 34.3448 34.8301 32.3865"stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M50.2426 27.5698C44.5533 24.1332 36.1794 26.4433 34.5391 32.5201C40.581 36.1694 48.512 33.982 50.2426 27.5698Z"stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M25.9805 46.0016V11.6851"stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M25.979 41.8505C25.5635 38.1467 22.291 36.2593 19.8906 35.3374"stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M19.8148 35.3103C13.1906 40.686 4.6991 36.554 1.79297 29.2635C8.46094 25.1697 17.8491 26.8716 19.8148 35.3103Z"stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M35.8711 38.6294C39.0315 40.2686 42.8152 40.4268 46.238 39.4258"stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M25.9791 26.0341C27.6414 26.0341 29.227 25.6987 30.6678 25.0904C32.1085 24.4822 33.4071 23.6013 34.498 22.5158C35.5888 21.4275 36.4691 20.1347 37.0788 18.6946C37.6884 17.2573 38.0247 15.6754 38.0247 14.0171C38.0247 12.3588 37.6884 10.7769 37.0788 9.33952C36.4691 7.90216 35.5861 6.60664 34.498 5.51839C33.4099 4.43014 32.1113 3.55191 30.6678 2.94369C29.227 2.33547 27.6414 2 25.9791 2C24.3169 2 22.7313 2.33547 21.2905 2.94369C19.8497 3.55191 18.5511 4.43287 17.4603 5.51839C16.3695 6.60391 15.4892 7.89944 14.8795 9.33952C14.2699 10.7769 13.9336 12.3588 13.9336 14.0171C13.9336 15.6754 14.2699 17.2573 14.8795 18.6946C15.4892 20.132 16.3722 21.4275 17.4603 22.5158C18.5511 23.604 19.847 24.4822 21.2905 25.0904"stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M20.3691 15.539L25.9791 10.5696L31.5891 15.539"stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
			+breadcrumb(['Главная ','Локации и объекты','Сова «На прудах»'], 'Коттедж «Комфорт»')
			.object-top__content
				.object-top__center
					.object-top__name.h1 Коттедж «Комфорт»
					p 
						big 54 м2 с террасой, земля
					.btn-3(data-popup="#feedback-popup") Узнать цену
				.object-top__complect
					p Комплектация
						br
						| 2 спальни и двухместный диван-кровать в кухне-гостиной.
		.object-top-text.text.block(data-aos="fade-up")
			.h1 Загородные доходные объекты «Сова» это лучшее решение  для вложения ваших денег.
			p Дом в скандинавском стиле с панорамными окнами. Большая гостиная зона с камином, обеденным столом и стульями. Кухонная зона оборудована чайником, микроволновой печью, электроплитой и двухкамерным холодильником
		.object-predmets.mblock(data-aos="fade-up")
			.object-predmet
				.object-predmet__img
					img(src="img/p-1.svg", alt="")
				.object-predmet__title Камин
				.object-predmet__desc
					p Панорамные окна в гостиной, терраса с гамаком и столом для застолий на свежем воздухе. Зона барбекю с мангалом.
			.object-predmet
				.object-predmet__img
					img(src="img/p-2.svg", alt="")
				.object-predmet__title Техника
				.object-predmet__desc
					p Есть вся необходимая техника, кухонный модуль с посудой  и столовыми приборами.
			.object-predmet
				.object-predmet__img
					img(src="img/p-3.svg", alt="")
				.object-predmet__title Средства гигиены
				.object-predmet__desc
					p Полотенца, тапочки, мыло, гель  для душа и шампунь. Санузел, душ.
			.object-predmet
				.object-predmet__img
					img(src="img/p-4.svg", alt="")
				.object-predmet__title Электрика
				.object-predmet__desc 
					p Wi-Fi, чайник, микроволновая печь, плита, телевизор, вентилятор, фен, холодильник.
		.big-slider.mblock(data-aos="fade-up")
			.swiper.big-slider__full-slider 
				.swiper-wrapper
					.swiper-slide
						+picture('loc-1','jpg')
					.swiper-slide
						+picture('object-2','jpg')
					.swiper-slide
						+picture('loc-1','jpg')
					.swiper-slide
						+picture('loc-1','jpg')
					.swiper-slide
						+picture('object-2','jpg')
					.swiper-slide
						+picture('loc-1','jpg')
					.swiper-slide
						+picture('loc-1','jpg')
					.swiper-slide
						+picture('object-2','jpg')
					.swiper-slide
						+picture('object-2','jpg')

			
					
			.big-slider__bottom 
				.big-slider__bottom-left 
					.big-slider__thumb-slider.swiper 
						
				.big-slider__bottom-right
					

					
					.big-slider__content 
						.big-slider__bottom-nav
							button.big-slider__bottom-nav-prev
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.38014 11.6545L7.03461 12.0159L7.75741 12.7069L8.10294 12.3455L7.38014 11.6545ZM13 6.5L13.3614 6.84553L13.6918 6.5L13.3614 6.15447L13 6.5ZM8.10294 0.654471L7.75741 0.293071L7.03461 0.984128L7.38014 1.34553L8.10294 0.654471ZM10.3708 3.75L10.0094 4.09553H10.0094L10.3708 3.75ZM8.10294 12.3455L13.3614 6.84553L12.6386 6.15447L7.38014 11.6545L8.10294 12.3455ZM13 6H0V7H13V6ZM10.7322 3.40447L8.10294 0.654471L7.38014 1.34553L10.0094 4.09553L10.7322 3.40447ZM13.3614 6.15447L12.0468 4.77947L11.324 5.47053L12.6386 6.84553L13.3614 6.15447ZM12.0468 4.77947L10.7322 3.40447L10.0094 4.09553L11.324 5.47053L12.0468 4.77947Z" fill="white"/>
								</svg>
							button.big-slider__bottom-nav-next
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.38014 11.6545L7.03461 12.0159L7.75741 12.7069L8.10294 12.3455L7.38014 11.6545ZM13 6.5L13.3614 6.84553L13.6918 6.5L13.3614 6.15447L13 6.5ZM8.10294 0.654471L7.75741 0.293071L7.03461 0.984128L7.38014 1.34553L8.10294 0.654471ZM10.3708 3.75L10.0094 4.09553H10.0094L10.3708 3.75ZM8.10294 12.3455L13.3614 6.84553L12.6386 6.15447L7.38014 11.6545L8.10294 12.3455ZM13 6H0V7H13V6ZM10.7322 3.40447L8.10294 0.654471L7.38014 1.34553L10.0094 4.09553L10.7322 3.40447ZM13.3614 6.15447L12.0468 4.77947L11.324 5.47053L12.6386 6.84553L13.3614 6.15447ZM12.0468 4.77947L10.7322 3.40447L10.0094 4.09553L11.324 5.47053L12.0468 4.77947Z" fill="white"/>
								</svg>
						
						.big-slider__pagination
							span.big-slider__pagination-now 01
							| /
							span.big-slider__pagination-all 11
						.swiper.big-slider__content-slider
							.swiper-wrapper 
								.swiper-slide 
									.big-slider__title Общий вид локации «Сова на прудах» 
								.swiper-slide
									.big-slider__title Общий вид локации «Сова на прудах» 2
								.swiper-slide 
									.big-slider__title Общий вид локации «Сова на прудах» 3

						
		.object-parametrs(data-aos="fade-up")
			.object-parametrs__column
				ul 
					li.text 
						p 
							b Общее о доме
						ul 
							li  площадь 60м
								sup 2 
							li вместимость до 6 человек
							li дом в скандинавском стиле с панорамными окнами
							li большая гостиная зона с камином, обеденным столом и стульями
							li конвекторы
					li.text 
						p 
							b Ванная комната с душем и раковиной
					li.text 
						p 
							b Крытая и освещённая терраса с уличной мебелью идеально подходит для отдыха на свежем воздухе.
							
							
			
			.object-parametrs__column
				ul 
					li.text 
						p 
							b Кухня
						ul 
							li  чайник
							li микроволновая печь
							li электроплита
							li двухкамерный холодильник
				