.object-page {
	margin-top: -20px;
}

.object-top {
	min-height: calc(var(--vh, 1vh)*100 - 80px);
	position: relative;
	display: flex;
	flex-direction: column;

	.h1,
	h1 {
		text-align: center;
	}

	.breadcrumb {
		color: #BEC2C8;
		position: absolute;
		top: 20px;
		left: 29px;

		&__item {
			&::after {
				color: #fff;
			}
		}

		&__link {
			color: #BEC2C8;

			&:hover {
				color: #fff;
			}


		}

		&__link-current {
			color: #fff;
		}
	}

	.download-presentation {
		position: absolute;
		right: 26px;
		bottom: 42px;
		transform: none;
		top: initial;

		@media(max-width:800px) {
			display: none;
		}
	}

	&__bg {
		position: absolute;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;

		img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&::after {
			display: block;
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.5);
		}
	}

	&__content {
		padding: 50px 30px;

		display: flex;
		flex-direction: column;
		align-items: center;
		color: #fff;
		flex: 1;
		align-items: center;
		justify-content: center;
	}

	&__center {
		margin-top: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: auto;
	}

	&__complect {
		text-align: center;
	}
}

.object-top-text {
	display: flex;
	flex-direction: column;

	.h1,
	h1 {
		max-width: 900px;
	}

	p {
		margin-left: auto;
		max-width: 780px;
		font-size: 18px;
		font-size: clamp(14px, calc(14px + (18 - 14)*((100vw - 375px)/(1440 - 375))), 18px);
		@include lh(18, 32);
	}
}

.object-predmets {
	display: grid;
	gap: 16px;
	overflow: auto;
	margin-left: -16px;
	margin-right: -16px;
	padding-left: 16px;
	padding-right: 16px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.object-predmet {
	padding: 30px;
	background: #fff;
	min-width: 254px;

	&__img {
		max-height: 64px;
		margin-bottom: 10px;
	}

	&__title {
		font-family: 'Unbounded';
		font-weight: 600;
		font-size: 24px;
		@include lh(24, 30);
		margin-bottom: 10px;
		letter-spacing: -1px;
	}
}

.object-parametrs {
	display: grid;
	background: #fff;
	padding: 50px;
	grid-template-columns: 1fr 1fr;

	@media(max-width:1100px) {
		padding: 30px 19px;
	}

	p {
		font-size: 18px;
	}

	@media(max-width:700px) {
		grid-template-columns: 1fr;
	}
}