.front-top {
	margin-top: -20px;
	height: calc(var(--vh, 1vh)*100);

	.download-presentation {
		position: absolute;
		right: 20px;

		@media(max-width:992px) {
			top: initial !important;
			bottom: 138px;

			@media(max-height:720px) {
				bottom: 75px;
			}
		}
	}

	&__fw {
		position: absolute;
		left: 50%;
		width: 100vw;
		top: 0;
		height: calc(var(--vh, 1vh)*100);
		;
		transform: translateX(-50%);
	}

	&__bg {
		position: absolute;
		bottom: 0;
		right: -22%;

		width: 100%;
		height: 100%;
		transform: scale(0.68) translateY(40%);

		@media(max-width:992px) {
			right: initial;
			left: 50%;
			width: 100vw;
			transform: scale(1) translateY(40%) translateX(-50%);
			max-width: 100vw;
		}

		@media(max-width:500px) {
			transform: scale(0.5) translateY(355px) translateX(-50%);
			left: 50%;

			@media(max-height:720px) {
				transform: scale(0.5) translateY(405px) translateX(-50%);
			}

			img {
				left: 50%;
				transform: translateX(-50%);
				width: initial;
				max-width: initial;

			}
		}

		img {
			position: absolute;
			width: 100%;
			object-fit: cover;
			height: 100%;

			@media(max-width:992px) {}
		}
	}

	&__anim-opacity {
		opacity: 0;
	}

	&__right,
	&__left-img {
		img {
			width: 100%;
			object-fit: cover;
			max-height: calc(100vh - 300px);
		}

		@media(max-width:992px) {
			display: none !important;
		}
	}

	&__bg-mask {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;

		background: rgba(0, 0, 0, 0.7);
	}

	&__bbg {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		object-fit: cover;
		opacity: 0;
		bottom: 0;

		img {
			position: absolute;
			width: 100%;
			object-fit: cover;
			height: 100%;

			@media(max-width:500px) {
				left: 50%;
				transform: translateX(-50%);
				width: initial;
				max-width: initial;
			}
		}

		img {}
	}

	&__fw-str1 {
		right: 100vw;
	}

	&__fw-str2 {
		left: 100vw;
	}

	&__fw-str {
		position: relative;
		color: rgba(47, 55, 64, 0.1);


		&-front {
			position: absolute;
			left: 0;
			top: 0;
			color: #fff;
		}
	}

	&__fw-text {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		line-height: 85.8%;
		font-family: 'Unbounded';
		font-style: normal;
		font-weight: 250;
		font-size: clamp(64px, calc(64px + (150 - 64)*((100vw - 375px)/(1920 - 375))), 150px);
	}



	&__back {
		gap: 40px;
		display: grid;
		position: relative;
		grid-template-columns: 25% auto 17%;

		@media(min-width:992px) {
			grid-template-columns: 300px auto 17%;
		}

		@media(min-width:1440px) {
			grid-template-columns: 340px auto 17%;
		}

		@media(min-width:1540px) {
			grid-template-columns: 400px auto 17%;
		}

		max-width: 100vw;

		@media(max-width:992px) {

			grid-template-columns: 1fr;
			grid-template-areas: 'text'
				'slider';
			margin-left: auto;
			margin-right: auto;
			max-width: 615px;
		}
	}

	&__center {
		padding-top: 133px;

		@media(min-width:1440px) {
			padding-top: 90px;
		}

		&-content {
			margin-left: auto;
			margin-right: auto;
			max-width: 615px;

			@media(min-width:1440px) {
				max-width: 782px;
			}
		}

		@media(max-width:992px) {
			grid-area: text;
			padding-top: 40px;
			max-width: initial;
		}
	}

	&__left {
		@media(max-width:992px) {
			grid-area: slider;
			min-width: 0;
		}

		.swiper-slide {
			position: initial;
			background: #fff;
			padding: 30px 20px;
			border-bottom: 4px solid #D3D6DB;
			position: relative;
			height: auto;

			@keyframes widtha {
				0% {
					width: 0;
				}

				to {
					width: 100%;
				}
			}

			&.swiper-slide-active::after {
				animation: widtha 5s linear
			}

			&::after {
				display: block;

				width: 0;
				content: '';
				height: 4px;
				position: absolute;
				bottom: -4px;
				left: 0;
				background: linear-gradient(136.6deg, #A0BA4F 0%, #7A8E3B 97.35%);
			}
		}

		&-title {
			font-family: 'Unbounded' !important;
			font-weight: 600 !important;
		}

		&-title {
			font-family: 'Unbounded';
			font-style: normal;

			font-size: 24px;
			letter-spacing: -1px;
			margin-bottom: 20px;
			font-size: clamp(16px, calc(16px + (24 - 16)*((100vw - 375px)/(1920 - 375))), 24px);

			&::before {
				width: 8px;
				height: 8px;
				display: inline-block;
				content: '';
				position: relative;
				top: -2px;
				border-radius: 50%;
				margin-right: 10px;
				background: linear-gradient(136.6deg, #A0BA4F 0%, #7A8E3B 97.35%);
			}
		}

		&-content {}
	}
}

.front-uks {
	margin-bottom: 50px;

	.btn-1 {
		display: inline-block;
	}

	.h1,
	h1 {


		@media(min-width:1440px) {
			max-width: 83%;
		}
	}

	p {
		max-width: 777px;
		margin-left: auto;

		@media(min-width:1440px) {
			max-width: 50%;
		}
	}

	&__head {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		margin-bottom: 20px;
		gap: 10px;

		.btn-2 {
			margin-top: 0;
		}

		q {
			margin: 0;
			margin-right: auto;
		}


	}
}

.front-numbers {
	&__row {
		display: grid;
	}
}

.front-numbers {
	padding: 80px 70px;
	border-top: 6px solid #2F3740;
	background: #fff;
	position: relative;

	@media(max-width:992px) {
		padding: 30px 16px;
	}

	&__video-wrap {
		width: 126px;
		left: -29px;
		bottom: -63px;
		border: 4px solid #FFFFFF;
		border-radius: 14px;
		position: absolute;
		overflow: hidden;
		transition: width 0.5s;

		&:has(._play) {
			width: 378px;
		}

		@media(max-width:600px) {
			display: none;
		}

		&::after {
			display: block;
			content: '';
			padding-bottom: 140%;
		}

		video {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			object-fit: cover;
			height: 100%;

		}
	}

	&__items {
		&:nth-child(1) {
			grid-area: it1;

			big {
				background: linear-gradient(136.6deg, #A0BA4F 0%, #7A8E3B 97.35%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				text-fill-color: transparent;
			}
		}

		&:nth-child(2) {
			grid-area: it2;
		}

		&:nth-child(3) {
			grid-area: it3;
		}

		&:nth-child(4) {
			grid-area: it4;
		}

		&:nth-child(5) {
			grid-area: it5;
		}

		big {
			font-size: clamp(40px, calc(40px + (64 - 40)*((100vw - 375px)/(1920 - 375))), 64px) !important;
		}

		big {
			font-family: 'Unbounded';
			font-style: normal;
			font-weight: 500;
			@include lh(64, 79);
			letter-spacing: -2px;
		}
	}

	&__row {
		display: grid;
		gap: 34px;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-areas: 'it1 it1  it2 it3'
			'it1 it1 it4 it5';

		@media(max-width:900px) {
			grid-template-columns: auto auto;
			grid-template-areas: 'it1 it1 '
				' it2 it3'
				'it4 it5';
		}
	}
}

.front-structura {
	&__slider {
		overflow: visible !important;
	}
}

.front-structura-item {
	position: relative;


	&::before {
		display: block;
		content: '';
		padding-bottom: 100%;
	}

	&__front {
		cursor: pointer;

		&:hover {
			.front-structura-item__bg {
				transform: scale(1.05);
			}
		}

		&:hover .front-structura-item__plus {
			// opacity: 1;
		}

		.front-structura-item._rotate & {
			@media(min-width:992px) {
				// transform: rotateY(180deg);
			}

		}
	}

	&__back {
		transition: opacity 0.3s;
		pointer-events: none;
		opacity: 0;



		.front-structura-item__content {
			opacity: 0;
			transition: opcity 0.3s;
		}

		.front-structura-item._rotate & {
			opacity: 1;
			pointer-events: initial;




			.front-structura-item__content {
				opacity: 1;
				transition: opacity 0.3s;
			}

		}
	}

	&__front,
	&__back {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;


	}

	&:hover {}

	&__content {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 2;
		width: 100%;
		height: 100%;
		padding: 30px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;


		p {
			color: #fff;
			font-size: 18px;
			line-height: 178%;

			@media(max-width:1200px) {
				font-size: 16px;
			}
		}

		.btn-1,
		.btn-2,
		.btn-3,
		.btn-4 {
			margin-top: auto;
			display: inline-block;


		}
	}

	&__link {
		&::after {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
			width: 100vmax;
			height: 100vmax;

			display: block;
			content: '';
		}
	}

	&__plus {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		transition: opacity 0.3s;
		position: absolute;
		left: 50%;
		top: 50%;


		transform: translate(-50%) translateY(-50%);

		.front-structura-item._rotate & {
			opacity: 0;
		}

		.front-structura-item._green & {
			background: #fff;
		}

		&::after,
		&::before {
			.front-structura-item._green & {
				background-color: rgba(122, 142, 59, 1);
			}
		}


		&::before {
			width: 12px;
			height: 1px;
			background: #fff;
			display: block;
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
		}

		&::after {
			height: 12px;
			width: 1px;
			background: #fff;
			display: block;
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
		}


		background: linear-gradient(136.6deg, #A0BA4F 0%, #7A8E3B 97.35%);
	}

	&__title {
		font-family: 'Unbounded';
		font-style: normal;
		font-weight: 300;
		font-size: 24px;
		line-height: 30px;
		letter-spacing: -1px;
		color: #fff;
	}

	&__bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		transition: transform 0.3s;

		.front-structura-item._green .front-structura-item__back & {
			background: linear-gradient(136.6deg, #A0BA4F 0%, #7A8E3B 97.35%);
		}

		.front-structura-item__back & {
			&::after {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				opacity: 0.06;
				display: block;
				content: '';
				height: 100%;
				background: url(../img/gray-pattern.svg);
				background-size: 1400px;
			}

			background: #2f3740;
		}

		img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.you-get {
	.filters {
		margin-bottom: 37px;
	}

	.swiper-slide {
		background-color: #fff;
		height: initial;

		&:first-child {
			background: transparent;
		}
	}
}

.front-loc {
	padding-left: 20%;

	position: relative;

	.head-row {
		.h1 {
			@media(max-width:600px) {
				margin-bottom: 0;
			}
		}
	}

	&__pagi {
		position: absolute;
		font-style: normal;
		font-weight: 700;
		font-size: 12px;
		line-height: 16px;
		letter-spacing: -.02em;
		top: 31px;
		color: #fff;
		right: 16px;
		z-index: 2;
		text-align: right;
		left: initial;
		bottom: initial;

		@media(min-width:992px) {

			display: none;

		}
	}

	&__tags {
		display: flex;
		flex-direction: row;
		gap: 15px;
		margin-bottom: 48px;
		pointer-events: none;
		position: absolute;
		left: 16px;
		top: 20px;

		@media(min-width:992px) {

			display: none;

		}

		li {
			background: #FFFFFF;
			border-radius: 30px;
			padding: 8px 16px;
			font-weight: 700;
			font-size: 14px;
			line-height: 19px;
			letter-spacing: -0.02em;
			color: #A0BA4F;
			border: 2px solid#A0BA4F;
		}
	}

	@media(max-width:600px) {

		.front-loc__btn-toogle-map,
		.front-loc__btn-toogle-list {
			color: #fff;

			&::after {
				opacity: 0;
			}
		}
	}

	@media(max-width:992px) {
		.filters {
			margin-right: auto;
		}
	}

	&._map {
		@media(max-width:992px) {
			.front-loc__left {
				display: none;
			}

			.front-loc__slider-img {
				height: 500px;
			}
		}
	}

	&__map {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 5;
		width: 100%;
		height: 100%;
		display: none;
	}

	.front-loc__slider-img .swiper-slide {
		&::before {
			width: 100%;
			display: block;
			content: '';
			padding-bottom: 66.88%;

			@media(max-width:500px) {
				padding-bottom: 100%;
			}

		}

		a {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			display: block;
		}

		@media(min-width:1440px) {
			max-height: clamp(580px, calc(100vh - 250px), calc(100vh - 250px));
		}

		img {
			width: 100%;
			position: absolute;
			height: 100%;
			object-fit: cover;
			left: 0;
			top: 0;
		}
	}

	&__wrap {
		._hidden {
			display: none !important;
		}
	}

	.btn-4 {
		color: #5F784B;

		svg {
			margin-right: 5px;
			position: relative;
			top: 2px;
		}
	}

	.head-row {
		.btn-2 {
			margin-top: 0;
		}
	}

	@media(max-width:992px) {
		padding-left: 0;
	}
}


.you-get__slider {

	overflow: visible !important;

}

.you-slide-1,
.you-slide-2,
.you-slide-3,
.you-slide-4 {
	padding: 30px;

	@media(max-width:992px) {
		padding: 20px;
	}

	h3,
	.h3 {
		margin-bottom: 10px;
		text-transform: initial;
		font-family: 'Unbounded';
		@include lh(24, 30);
	}

	&__grid-1 {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 16px;

		@media(max-width:992px) {
			grid-template-columns: 30% auto;
		}

		@media(max-width:800px) {
			grid-template-columns: 1fr;
		}
	}
}

.you-slide-1 {
	position: relative;


	@media(min-width:1100px) {
		margin-left: -48px;
		margin-right: -48px;
	}

	@media(max-width:800px) {
		background-color: transparent !important;
		padding: 0 0 200px 0 !important;


	}

	&__video-wrap {

		@media(max-width:800px) {
			position: relative;
			display: none;

			&::after {
				display: block;
				content: '';
				padding-bottom: 70%;
			}
		}
	}

	&__video {
		@media(max-width:992px) {
			display: none;
		}

		width: 126px;

		&::after {
			display: block;
			content: '';
			padding-bottom: 140%;
		}

		border: 4px solid #FFFFFF;
		border-radius: 14px;
		overflow: hidden;
		position: absolute;
		left: 20px;
		bottom: 62px;
		transition: width 0.5s;

		&:has(._play) {
			width: 378px;
		}

		video {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;

		@media(max-width:800px) {
			position: relative;
			min-height: 400px;
			width: calc(100% + 36px);
			max-width: calc(100% + 36px);

			margin-left: -16px;
			margin-right: -16px;
		}
	}

	&__grid-2 {
		gap: 16px;
		display: grid;
		grid-template-columns: 1fr 1fr;

		@media(max-width:800px) {
			position: relative;

			overflow: auto;
			left: 0;
			padding-left: 16px;
			padding-right: 16px;
			margin-left: -16px;
			margin-right: -16px;
			max-width: calc(100% + 36px);
			position: absolute;
			bottom: 0px;
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}

	}

	&__it {
		@media(max-width:800px) {
			min-width: 254px;
		}

		background: #fff;
		padding: 30px;
		display: flex;
		align-items: flex-start;
		flex-direction: column;
	}

	&__img {
		margin-top: auto;
	}
}

.you-slide-2 {
	position: relative;

	&__text {
		background: #F5F5F5;
	}

	&__grid-2 {
		gap: 16px;
		display: grid;
		grid-template-columns: 1fr 1fr;


		@media(max-width:800px) {
			position: relative;

			overflow: auto;
			left: 0;
			padding-left: 16px;
			padding-right: 16px;
			margin-left: -16px;
			margin-right: -16px;
			max-width: calc(100% + 36px);
			bottom: 0px;
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
	}

	&__text {
		padding: 30px;
	}

	&__it {
		color: #fff;
		padding: 30px;
		display: flex;
		align-items: flex-start;
		flex-direction: column;

		@media(max-width:800px) {
			min-width: 254px;
		}

		&:nth-child(1) {
			background: #AEC997;
		}

		&:nth-child(2) {
			background: #8EB071;
		}

		&:nth-child(3) {
			background: #729454;
		}

		&:nth-child(4) {
			background: #5F784B;
		}
	}


}

.you-slide-3 {
	&__img {
		position: relative;

		img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__text {
		background: #F5F5F5;
		padding: 30px;
	}
}

.you-slide-4 {

	&__grid-1 {
		height: 100%;

		@media(max-width:992px) {
			grid-template-columns: 1fr;
		}
	}

	&__grid-2 {
		display: grid;
		grid-template-columns: 1fr;
		gap: 16px;
	}

	&__it {
		background: #2F3740;
		padding: 30px;
		color: #fff;
	}

	&__text {
		background: #F5F5F5;
		padding: 30px;
	}
}

.front-loc {

	// @media(min-width:1440px) {
	// 	padding-left: calc(((100vw - 1460px)/2) + 350px);
	// 	width: calc(100vw - 96px);
	// 	margin-left: calc((100vw - 1440px) / -2);
	// }
	&__wrap {
		@media(max-width:992px) {


			position: relative;

			&::before {
				position: absolute;
				left: -16px;
				top: 0;
				width: calc(32px + 100%);
				height: 100%;
				display: block;
				content: '';
				background: #2f3740;
			}
		}
	}


	&__filter-row {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 26px;
	}

	.btn-4 {
		margin-top: 0 !important;
	}

	.filters {
		margin-right: 20px;
	}

	&__btn-toogle-list,
	&__btn-toogle-map {
		@media(max-width:992px) {
			span {
				line-height: 0;
				text-align: center;

			}

			.button-content span {
				position: relative;
			}

			svg {
				margin: 0 auto !important;
				display: inline-block;
				left: 0% !important;
				top: 0% !important;
				// transform: translateX(-50%) translateY(-50%);
				// position: absolute;

			}

			font-size: 0;
			line-height: 0;
			width: 36px;
			height: 36px;
			padding: 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}

	}

	&__locations-footer {
		display: flex;
		gap: 10px;
		flex-direction: row;
		align-items: center;
		width: 100%;
		margin-top: 30px;
	}

	&__locations-pagi {
		text-align: right;
		font-size: 18px;

		@media(max-width:500px) {
			display: none;
		}
	}

	&__locations-nav {
		display: flex;
		flex-direction: row;
		gap: 10px;
		align-items: center;
		margin-right: auto;

		@media(max-width:500px) {
			margin-left: auto;
			margin-right: 0;
		}
	}

	&__locations-prev {}


	&__locations-prev,
	&__locations-next {

		border-radius: 50%;
		position: relative;
		border: 0 solid;
		box-shadow: inset 0 0 0 1px rgba(160, 186, 79, 1);
		width: 50px;
		height: 50px;
		cursor: pointer;
		overflow: hidden;
		background: #fff;

		&.swiper-button-disabled {
			opacity: 0.5;
		}

		&:not(.swiper-button-disabled):hover {
			box-shadow: inset 0 0 0 0px #fff;

			&::before {
				opacity: 1;
			}

			&::after {
				background-image: url("data:image/svg+xml,%3Csvg width='14' height='13' viewBox='0 0 14 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.61986 11.6545L6.96539 12.0159L6.24259 12.7069L5.89706 12.3455L6.61986 11.6545ZM1 6.5L0.6386 6.84553L0.308246 6.5L0.6386 6.15447L1 6.5ZM5.89706 0.654471L6.24259 0.293071L6.96539 0.984128L6.61986 1.34553L5.89706 0.654471ZM3.62923 3.75L3.99063 4.09553H3.99063L3.62923 3.75ZM5.89706 12.3455L0.6386 6.84553L1.3614 6.15447L6.61986 11.6545L5.89706 12.3455ZM1 6H14V7H1V6ZM3.26783 3.40447L5.89706 0.654471L6.61986 1.34553L3.99063 4.09553L3.26783 3.40447ZM0.6386 6.15447L1.95321 4.77947L2.67601 5.47053L1.3614 6.84553L0.6386 6.15447ZM1.95321 4.77947L3.26783 3.40447L3.99063 4.09553L2.67601 5.47053L1.95321 4.77947Z' fill='white'/%3E%3C/svg%3E%0A");
			}
		}

		&::before {
			position: absolute;
			left: 0;
			transition: opacity 0.3s;
			top: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			display: block;
			content: '';
			background: $grandient;
		}

		&::after {
			display: block;
			width: 14px;
			content: '';
			height: 13px;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
			background-image: url("data:image/svg+xml,%3Csvg width='14' height='13' viewBox='0 0 14 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.61986 11.6545L6.96539 12.0159L6.24259 12.7069L5.89706 12.3455L6.61986 11.6545ZM1 6.5L0.6386 6.84553L0.308246 6.5L0.6386 6.15447L1 6.5ZM5.89706 0.654471L6.24259 0.293071L6.96539 0.984128L6.61986 1.34553L5.89706 0.654471ZM3.62923 3.75L3.99063 4.09553H3.99063L3.62923 3.75ZM5.89706 12.3455L0.6386 6.84553L1.3614 6.15447L6.61986 11.6545L5.89706 12.3455ZM1 6H14V7H1V6ZM3.26783 3.40447L5.89706 0.654471L6.61986 1.34553L3.99063 4.09553L3.26783 3.40447ZM0.6386 6.15447L1.95321 4.77947L2.67601 5.47053L1.3614 6.84553L0.6386 6.15447ZM1.95321 4.77947L3.26783 3.40447L3.99063 4.09553L2.67601 5.47053L1.95321 4.77947Z' fill='rgba(160, 186, 79, 1)'/%3E%3C/svg%3E%0A");
		}
	}

	&__locations-footer {
		display: flex;
		flex-direction: row;
		align-items: center;
	}


	&__locations-next {
		&::after {
			transform: translateX(-50%) translateY(-50%) scale(-1);
		}
	}

	&__left {
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 4;
		padding: 45px;
		width: 35%;
		background: #fff;

		@media(min-width:1440px) {
			width: calc(((100vw - 1460px)/2) + 7% + 350px);
		}

		@media(max-width:992px) {
			position: relative;
			margin-top: -50px;
			width: 100%;
			padding: 30px 16px;
		}
	}

	&__slider-img {
		@media(max-width:992px) {
			margin-left: -20px;
			margin-right: -20px;
		}

		a {
			display: block;
		}

		.swiper-slide {
			line-height: 0;

			a {
				cursor: pointer;
			}
		}
	}

	&__slider-img-plus {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 50px;
		overflow: hidden;
		transition: opacity 0.3s;
		height: 50px;
		background: $grandient;
		border-radius: 50%;
		transform: translate(-50%) translateY(-50%);
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;



		&::before {
			display: block;
			content: "";
			background: $black;
			width: 100%;
			height: 100%;
			background: #fff;
			left: 50%;
			top: 50%;
			position: absolute;
			margin-left: -25px;
			margin-top: -25px;
			border-radius: 50%;

			.front-loc__slide-filter a:hover &,
			.location-mini:hover & {
				transform: scale(1.06);
			}

			transition: transform 0.3s;
			transform:scale(0);
		}

		&::after {

			.front-loc__slide-filter a:hover &,
			.location-mini:hover & {

				background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.15396 0.606262V16.0737M0.467651 8.34H15.8403' stroke='%23a0ba4f'/%3E%3C/svg%3E%0A");
			}

			background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.15396 0.606262V16.0737M0.467651 8.34H15.8403' stroke='white'/%3E%3C/svg%3E%0A");
			width: 16px;
			height: 17px;
			display: block;
			content: '';
			z-index: 6;
			position: relative;
		}

	}



}

.front-loc-content {
	&__tags {
		display: flex;
		flex-direction: row;
		gap: 15px;
		margin-bottom: 48px;

		@media(max-width:992px) {
			margin-bottom: 25px;
			position: absolute;
			display: none;

		}

		li {
			background: #FFFFFF;
			border-radius: 30px;
			padding: 8px 16px;
			font-weight: 700;
			font-size: 14px;
			line-height: 19px;
			letter-spacing: -0.02em;
			color: #A0BA4F;
			border: 2px solid#A0BA4F;
		}
	}




	&__title {
		font-family: 'Unbounded' !important;
		font-style: normal;
		font-weight: 600;
		@include lh(36, 45);
		text-transform: none !important;
		letter-spacing: -1px;
		text-decoration: none;
		color: #2F3740;
		margin-bottom: 16px;

		font-size: clamp(18px, calc(18px + (24 - 18)*((100vw - 375px)/(1920 - 375))), 24px);

		&::after {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			display: block;
			content: '';
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 10px;


		li {
			font-size: 14px;
			position: relative;
			padding-left: 32px;

			@media(max-width:992px) {
				font-size: 14px;
			}

			img {
				position: absolute;
				left: 0;
				top: 0px;
			}
		}
	}
}

.black-zone {
	position: relative;

	padding: 1px 0 1px 0;

	&::before {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: 0;
		width: 100vw;
		background-color: #2F3740;
		height: 100%;
		display: block;
		content: '';
		z-index: 1;
	}

	&::after {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: 0;
		width: 100vw;

		background-image: url('../img/black-pattern.svg');
		background-repeat: repeat;
		background-size: 5700px;
		height: 100%;
		display: block;
		content: '';
		z-index: 1;
	}

	color:#fff;

	&>div {
		position: relative;
		z-index: 2;
	}
}

.front-cases {
	padding-top: 162px;

	@media(max-width:800px) {
		padding-bottom: 70px;
		position: relative;
		padding-top: 80px;

		.head-row {
			margin-bottom: 0;
		}

		.front-cases__nav {
			position: absolute;
			right: 0;
			bottom: 0;
		}
	}

	&__swiper {
		overflow: visible;
	}

	.head-row {}

	&__nav {
		display: flex;
		flex-direction: row;
		gap: 10px;
		align-items: center;

	}



	&__prev {}


	&__prev,
	&__next {

		border-radius: 50%;
		position: relative;
		border: 0 solid;
		box-shadow: inset 0 0 0 1px #fff !important;
		width: 50px;
		height: 50px;
		cursor: pointer;
		overflow: hidden;


		&.swiper-button-disabled {
			opacity: 0.4;
		}

		&:not(.swiper-button-disabled):hover {
			box-shadow: inset 0 0 0 0px #fff;

			&::before {
				transform: scale(1.01);
			}

			&::after {
				background-image: url("data:image/svg+xml,%3Csvg width='14' height='13' viewBox='0 0 14 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.61986 11.6545L6.96539 12.0159L6.24259 12.7069L5.89706 12.3455L6.61986 11.6545ZM1 6.5L0.6386 6.84553L0.308246 6.5L0.6386 6.15447L1 6.5ZM5.89706 0.654471L6.24259 0.293071L6.96539 0.984128L6.61986 1.34553L5.89706 0.654471ZM3.62923 3.75L3.99063 4.09553H3.99063L3.62923 3.75ZM5.89706 12.3455L0.6386 6.84553L1.3614 6.15447L6.61986 11.6545L5.89706 12.3455ZM1 6H14V7H1V6ZM3.26783 3.40447L5.89706 0.654471L6.61986 1.34553L3.99063 4.09553L3.26783 3.40447ZM0.6386 6.15447L1.95321 4.77947L2.67601 5.47053L1.3614 6.84553L0.6386 6.15447ZM1.95321 4.77947L3.26783 3.40447L3.99063 4.09553L2.67601 5.47053L1.95321 4.77947Z' fill='white'/%3E%3C/svg%3E%0A");
			}
		}

		&::before {
			position: absolute;
			left: 0;
			transform: scale(0);
			transition: transform 0.3s;
			top: 0;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			display: block;
			content: '';
			background: $grandient;
		}

		&::after {
			display: block;
			width: 14px;
			content: '';
			height: 13px;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
			background-image: url("data:image/svg+xml,%3Csvg width='14' height='13' viewBox='0 0 14 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.61986 11.6545L6.96539 12.0159L6.24259 12.7069L5.89706 12.3455L6.61986 11.6545ZM1 6.5L0.6386 6.84553L0.308246 6.5L0.6386 6.15447L1 6.5ZM5.89706 0.654471L6.24259 0.293071L6.96539 0.984128L6.61986 1.34553L5.89706 0.654471ZM3.62923 3.75L3.99063 4.09553H3.99063L3.62923 3.75ZM5.89706 12.3455L0.6386 6.84553L1.3614 6.15447L6.61986 11.6545L5.89706 12.3455ZM1 6H14V7H1V6ZM3.26783 3.40447L5.89706 0.654471L6.61986 1.34553L3.99063 4.09553L3.26783 3.40447ZM0.6386 6.15447L1.95321 4.77947L2.67601 5.47053L1.3614 6.84553L0.6386 6.15447ZM1.95321 4.77947L3.26783 3.40447L3.99063 4.09553L2.67601 5.47053L1.95321 4.77947Z' fill='white' /%3E%3C/svg%3E%0A");
		}
	}

	&__next {
		&::after {
			transform: scale(-1, 1) translateX(-50%) translateY(-50%);
			right: 50%;
			left: initial;
		}
	}
}

.front-case {
	display: grid;
	cursor: pointer;
	grid-template-columns: 30% auto;
	background: #fff;
	color: #2F3740;

	@media(max-width:800px) {
		grid-template-columns: 1fr;
	}

	&__open-video {
		padding: 16px;
		font-family: 'Unbounded';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		letter-spacing: -1px;
		margin-top: 10px;
		text-align: center;
		border: 0 solid;

		&::before {
			background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 8C1 4.13401 4.13401 1 8 1C11.866 1 15 4.13401 15 8C15 11.866 11.866 15 8 15C4.13401 15 1 11.866 1 8Z' stroke='white' stroke-width='1.4'/%3E%3Cpath d='M7 10V6L10 8L7 10Z' stroke='white' stroke-width='1.4'/%3E%3C/svg%3E%0A");
			width: 16px;
			height: 16px;
			background-repeat: no-repeat;
			content: '';
			margin-right: 5px;
			display: inline-block;
			position: relative;
			top: 3px;
		}

		@media(min-width:500px) {
			display: none;

		}

		background: #2F3740;
		color: #FFFFFF;
		line-height: 24px;
	}

	&__content {
		padding: 40px 30px;
		display: flex;
		flex-direction: column;

		@media(max-width:800px) {
			width: 100%;
			padding: 30px 16px;
		}
	}

	&__title {
		font-family: 'Unbounded';
		font-style: normal;
		font-weight: 300;
		font-size: 24px;
		@include lh(24, 30);
		padding-bottom: 10px;
		margin-bottom: 10px;
		letter-spacing: -1px;
		border-bottom: 1px solid #D3D6DB;

		@media(max-width:500px) {
			font-size: 18px;
		}

		;
	}

	&__procents {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 15px;
		margin-top: auto;

		@media(max-width:800px) {
			margin-top: 15px;
			gap: 9px;
		}


	}

	&:hover {
		video {
			transform: scale(1.1);
		}
	}

	&__video {
		position: relative;
		overflow: hidden;

		@media(max-width:800px) {
			display: none;
		}

		video {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: transform 0.5s;

		}

		&::after {
			padding-bottom: 143%;
			display: block;
			content: '';
		}
	}

	&__procent {
		color: #fff;
		padding: 20px;

		@media(max-width:500px) {
			padding: 10px;
		}

		&._brown {
			background: #B59564;
		}

		&._green {
			background: linear-gradient(136.6deg, #A0BA4F 0%, #7A8E3B 97.35%);

			.btn-4 {
				&::after {
					opacity: 1;
					background: $black !important;
				}
			}

		}

		&-title {
			font-family: 'Unbounded';
			font-style: normal;
			font-weight: 400;
			font-size: 20px;
			@include lh(20, 28);

			@media(max-width:500px) {
				font-size: 14px;
			}

			svg {
				margin-right: 10px;

				@media(max-width:500px) {
					margin-bottom: 5px;
					display: block;
					object-position: left center;
				}
			}
		}

		&-desc {
			p {
				@media(max-width:500px) {
					font-size: 12px;
				}
			}
		}
	}
}

.front-steps {
	.head-row {
		.btn-5 {
			@media(max-width:992px) {
				display: none;
			}
		}
	}

	&__slider {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border-radius: 50%;

		.swiper-slide {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
			padding: 20px;
		}

	}

	&__number {
		font-family: 'Unbounded';
		font-style: normal;
		font-weight: 250;

		font-size: clamp(36px, calc(36px + (64 - 36)*((100vw - 375px)/(1920 - 375))), 64px);
		@include lh(64, 79);
		margin-bottom: 10px;
		letter-spacing: -2px;
		background: linear-gradient(136.6deg, #A0BA4F 0%, #7A8E3B 97.35%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
	}

	&__title {
		font-family: 'Unbounded';
		font-style: normal;
		font-weight: 600;

		margin-bottom: 9px;
		@include lh(24, 30);
		font-size: clamp(18px, calc(18px + (24 - 18)*((100vw - 375px)/(1920 - 375))), 24px);
		letter-spacing: -1px;
	}

	&__container {
		margin-left: auto;
		margin-right: auto;
		max-width: 588px;
		position: relative;
		border-radius: 50%;
		border: 1px solid #fff;

		&::before {
			padding-bottom: 100%;
			display: block;
			content: '';
		}
	}

	&__input-wrap {
		margin-left: auto;
		width: 615px;
		margin-right: auto;
		margin-top: 48px;
		max-width: 100%;

		input {
			width: 100%;
		}
	}
}

.front-steps {
	.head-row {
		@media(max-width:992px) {
			.btn-2 {
				display: none;
			}
		}
	}

	&__container-svg {
		position: absolute;
		left: -3px;
		top: -3px;
		width: calc(100% + 6px);
		height: calc(100% + 6px);

		transform: rotate(-90deg);

		circle {
			stroke-opacity: 1;
			stroke-dasharray: var(--initialStroke);
			transition: stroke-dasharray 0.3s ease;

			&[procent="1"] {
				stroke-dasharray: 303.73px 3000px;

			}

			&[procent="2"] {
				stroke-dasharray: 607.27px 3000px;

			}

			&[procent="3"] {
				stroke-dasharray: 911px 3000px;

			}

			&[procent="4"] {
				stroke-dasharray: 1214.73px 3000px;

			}

			&[procent="5"] {
				stroke-dasharray: 1518.27px 3000px;

			}

			&[procent="6"] {
				stroke-dasharray: 1882px 3000px;

			}
		}
	}

	.irs-single,
	.irs-min,
	.irs-max {
		display: none;
	}

	.irs--flat .irs-bar {
		height: 3px;
		margin-top: -1px;
		background: $grandient;
		border-radius: 0;
	}

	.irs--flat .irs-handle {
		cursor: pointer;
	}

	.irs--flat .irs-handle>i:first-child {
		width: 88px;
		height: 43px;
		background: url(../img/range.svg);
		background-position: center;
		background-repeat: no-repeat;
		margin-left: -44px;
		margin-top: -18px;
	}

	.irs-line {
		height: 1px;
		background: #5E6E80;
		;
	}

	&__input-grid {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 26px;

		span {
			font-family: 'Unbounded';
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 20px;
			color: #5E6E80;
			cursor: pointer;

			&:hover {
				color: #729454
			}

			&._active {
				/* green */

				background: linear-gradient(136.6deg, #A0BA4F 0%, #7A8E3B 97.35%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				text-fill-color: transparent;
			}
		}
	}
}

.front-news {
	&__tabs {
		display: flex;
		gap: 20px 80px;
		flex-direction: row;
		margin-right: auto;
	}

	&__tab {
		position: relative;
		color: #BEC2C8;
		cursor: pointer;
		transition: color 0.3s;

		&:hover {
			color: #727278
		}

		&._active {
			color: rgba(47, 55, 64, 1);
		}

		&:not(:last-child) {
			&::after {
				display: block;
				right: -40px;
				top: 50%;
				transform: translateY(-50%);
				position: absolute;
				background: #BEC2C8;
				width: 4px;
				height: 38px;
				display: block;
				content: '';
			}
		}
	}

	.head-row {
		.btn-2 {
			margin-top: 0;
		}
	}

	.h1,
	h1 {
		margin: 0;
	}
}

#front-loc-map {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 13;

	.ymaps-2-1-79-balloon {
		display: none !important;
	}
}