extends ../../layout/layout
block title
	title Sova 

block content
	
	+breadcrumb(['Главная ', 'Новости и публикации'], 'Сеть коттеджей «Сова» в городском марафоне мероприятий «Открытие туристского сезона»')
	.news-detail 
		
		h1 Сеть коттеджей «Сова» в городском марафоне мероприятий «Открытие туристского сезона»
		.news-detail__date 11.01.2023 | Новости
		.text(data-aos="fade-up")
			+picture('news-detaill','jpg') 

			.h2 Хорошая погода, прекрасное настроение и качественный досуг — обязательные характеристики для массовых проектов с высокой проходимостью, которые поддерживает компания «Сова».
			p 
				b В Петербурге в начале мая состоялось масштабное мероприятие, организованное комитетом по туризму Санкт-Петербурга — «Открытие туристского сезона». В празднике были задействованы основные досуговые площадки города.
			p Для привлечения внимания целевой аудитории к бренду сети коттеджей «Сова» мы сконцентрировались на трёх видах актипивности:
			ul
				li Акции, которые были завязаны на прямую проходимость. Фотоконкурс «Хочу в Сову!» был интегрирован в «Фестиваль Ледоколов», состоявшийся на набережной Лейтенанта Шмидта 1 и 2 мая. В течение 2-х дней все желающие могли сфотографироваться с зонтиками «Совы» и испытать удачу в конкурсе.
				li Активности, связанные с лидерами мнений. «Сеть коттеджей „Сова“ стали партнёрами онлайн вещания городской студии. С 29 апреля по 1 мая из студии „Город +“ велась прямая трансляция, эфир кросспостился  в городские и блогерские соцмедиа. В прямом эфире зрители смогли наблюдать встречи с уникальными людьми, которые влияют на туристический климат Петербурга. Гостями эфира стали руководители компаний, крупных досуговых площадок и специальные гости — председатель комитета по культуре и туризму Ленинградской области, председатель комитета по туризму Санкт-Петербурга.
			.h2 Общее количество просмотров эфира и онлайн активностей, где была представлена компания «Сова»   в статусе Партнёра (учитывая конкурс, проведённый среди подписчиков 78 канала) — 3 миллиона просмотров   за дни вещания на официальных ресурсах мероприятия.
			ul
				li Мультимедиа активности и реклама DOOH. Большой медиа экран размещался на лицевой стороне фасада павильона «Чемодан» на Дворцовой площади. Второй мультимедийный экран размещался в Таврическом саду. Оба экрана транслировали имиджевые видео ролики партнёров мероприятия.
			+picture('news-detaill','jpg') 
			p Высокоохватные партнёрские интеграции повышают узнаваемость бренда. Партнёрские интеграции в «Открытие туристского сезона» в Санкт-Петербурге сгенерировали более 3 миллионов точек касания с брендом «Сеть коттеджей Сова» в формате онлайн и более 10 тысяч в формате офлайн в мае этого года.
		.news-detail__others(data-aos="fade-up")
			.h1 Другие материалы
			.news-row 
				+newsPreview("«Сеть загородных коттеджей „Сова“ в финале престижной петербургской премии Фонтанка.ру „Признание и влияние“","nd-1","6 февраля 2023")
				+newsPreview("Сеть коттеджей «Сова» стала участником SPA Business Forum","nd-2","6 февраля 2023")
				+newsPreview("Сеть коттеджей «Сова» — партнёры фестиваля «Стереолето» 2022","nd-3","12 июля 2022")
				
				