.feedback-popup {
	margin-top: 10px;
}

.popup {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
	overflow: hidden;

	@media(max-width:992px) {
		z-index: 444;
		padding-top: 60px;
	}

	&._display {
		display: block
	}

	&__overlay {
		position: absolute;
		left: 0;
		top: 0;

		.popup._animate & {
			opacity: 1;
		}

		transition: opacity 0.3s;
		opacity: 0;
		width: 100%;
		height: 100%;
		background: rgba(47, 55, 64, 0.8);
	}

	&__wrapper {
		padding: 50px;
		padding-top: 100px;
		position: absolute;
		left: -61%;
		top: 0;

		&::before {
			position: absolute;
			left: 0;
			top: 0;
			display: block;
			content: '';
			width: 100%;
			height: 100%;
			background-image: url('../img/black-pattern.svg');
			background-repeat: repeat;
			opacity: 0.06;
		}

		.popup._animate & {
			left: 0;
		}

		transition: left 0.3s;
		height: 100%;
		width: 60%;
		background: #fff;
		display: flex;
		flex-direction: column;
		justify-content: center;

		@media(max-width:500px) {
			padding-left: 16px;
			padding-right: 16px;
			padding-right: 16px;
		}

		@media(max-width:992px) {
			width: 100%;
			left: -101%;
			top: 60px;
			height: calc(100% - 60px);


		}
	}

	&__close {
		position: absolute;
		top: 84px;
		right: -60px;
		height: 27px;
		width: 27px;
		cursor: pointer;
		transition: transform 0.3s;

		@media(max-width:992px) {
			right: 0;
			width: 113px;
			min-width: 113px;
			background: #fff;
			top: -60px;
			height: 60px;
			display: flex;
			align-items: center;
			justify-content: center;

			svg {
				width: 12px;
			}

			path {
				stroke: #2F3740
			}
		}

		&:hover {
			transform: scale(1.1);
		}
	}
}

.feedback-popup {
	&__wrapper {
		background-color: #7A8E3B;
		background-image: url(../img/green-pattern.svg);
		display: grid;
		grid-template-columns: 340px auto;

		@media(max-width:992px) {
			display: flex;
			flex-direction: column;
			margin-left: -16px;
			margin-right: -16px;
			padding-left: 16px;
			padding-right: 16px;
		}
	}

	.btn-4 {
		padding: 10px 20px;

		&[disabled] {
			pointer-events: none;
			filter: grayscale(100%);
		}
	}

	&__form-wrap {
		padding: 57px;
		display: flex;
		flex-direction: column;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		Color: #fff;

		@media(max-width:992px) {
			padding: 0;
			padding-top: 30px;
			padding-bottom: 60px;
		}
	}

	&__form {
		width: 100%;
		max-width: 736px;
	}

	.checkbox__indicator {}

	input:checked+.checkbox__indicator {
		background: #7a8e3b !important;

		path {
			stroke: #fff;
		}
	}

	&__form-inpts {
		display: grid;
		gap: 16px;
		margin: 30px 0;
		grid-template-columns: 1fr 1fr;

		@media(max-width:550px) {
			grid-template-columns: 1fr;
		}

		input {
			color: #2F3740;
			border: 1px solid #5E6E80;
			background: #fff;

			&:placeholder-shown {
				border: 1px solid #D3D6DB;
			}

			&:hover {
				border: 1px solid rgba(167, 184, 115, 1);
			}

			&.valid {
				border: 1px solid rgba(167, 184, 115, 1);
			}

			&.error {
				border: 1px solid $red;
			}

			&::placeholder {
				color: #D3D6DB;
			}
		}
	}
}

.video-popup {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 3333;
	display: none;


	&__overlay {
		background: rgba(0, 0, 0, 0.8);
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
	}

	&__close {
		width: 113px;
		min-width: 113px;
		height: 60px;
		position: absolute;
		right: 0;
		top: 0;
		background: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		z-index: 2;


		&::before {
			display: block;
			content: '';
			position: absolute;
			left: 0;
			width: 100%;
			top: 0;
			height: 0;
			transition: height 0.3s;
			background: $grandient;
		}

		path {
			stroke: #2F3740;
			transition: stroke 0.3s;
		}

		&:hover {
			&::before {
				height: 100%;
			}

			path {
				stroke: #fff !important;
			}
		}
	}

	&__flex {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 70px 20px 20px 20px;
	}

	&__wrap {
		max-width: 400px;

		video {
			max-width: 100%;
			object-fit: contain;
			object-position: center;
			max-height: calc(var(--vh, 1vh)*100 - 100px);
		}
	}
}

.popup-location {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 3333;
	display: none;

	&__overlay {
		background: rgba(0, 0, 0, 0.8);
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}

	&__close {
		width: 113px;
		min-width: 113px;
		height: 60px;
		position: absolute;
		right: 0;
		top: 0;
		background: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		z-index: 2;

		&::before {
			display: block;
			content: '';
			position: absolute;
			left: 0;
			width: 100%;
			top: 0;
			height: 0;
			transition: height 0.3s;
			background: $grandient;
		}

		path {
			transition: stroke 0.3s;
		}

		&:hover {
			&::before {
				height: 100%;
			}

			path {
				stroke: #fff !important;
			}
		}
	}

	.location-map-prev {
		position: relative;
		height: initial;
		width: 100%;
		display: block !important;
		max-width: 500px;
		left: 0;
		top: 0;
	}

	&__flex {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 70px 20px 20px 20px;
	}

	&__wrap {
		max-width: 400px;

		video {
			max-width: 100%;
			object-fit: contain;
			object-position: center;
			max-height: calc(var(--vh, 1vh)*100 - 100px);
		}
	}
}