.popup#feedback-popup
	.popup__overlay 
	.popup__wrapper 
		.popup__close
			<svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1 1L28 28M1 28L28 1" stroke="white" stroke-width="2"/>
			</svg>

		.h1 Форма заявки
		p 
			small Порог входа от 1 125 000 ₽ 100% собственность коттеджа и земли.
		form.feedback-popup#feedback-popup-form(action="/" method="post")
			.feedback-popup__form-inpts 
				label.input
					input(type="text" placeholder="Имя Фамилия" name="name" data-rule-required)
				label.input
					input(type="text" placeholder="Телефон" name="phone" data-rule-required)._mask-phone
			label.checkbox
				input(type="checkbox" name="agree"  data-rule-required )#feedback-popup-form-agree
				.checkbox__indicator 
					<svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M1.5 4L4.5 6.5L8.5 1.5" stroke-width="2"/>
					</svg>

				.checkbox__text Отправляя данные в эту форму, я даю согласие на обработку
					br
					| моих персональных данных
			button(type="submit",disabled).btn-4 Отправить
.popup#feedback-popup-thanks
	.popup__overlay 
	.popup__wrapper 
		.popup__close
			<svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1 1L28 28M1 28L28 1" stroke="white" stroke-width="2"/>
			</svg>

		.h1 Спасибо! Ваша заявка успешно отправлена!
		p Скоро мы с вами свяжемся.
.popup#feedback-popup-error
	.popup__overlay 
	.popup__wrapper 
		.popup__close
			<svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1 1L28 28M1 28L28 1" stroke="white" stroke-width="2"/>
			</svg>

		.h1 Произошла ошибка!!!
		p Попробуйте позже
.video-popup#video-popup
	
	.video-popup__close
		<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M1 0.999756L13 12.9998M1 12.9998L13 0.999756" stroke="#2F3740" stroke-width="2"/>
		</svg>
	.video-popup__flex 
		.video-popup__overlay 
		.video-popup__wrap 
			video(src="") 
.popup-location#popup-location-1
	.popup-location__overlay 
	.popup-location__wrapper 
		.popup-location__close
			<svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1 1L28 28M1 28L28 1" stroke="currentColor" stroke-width="2"/>
			</svg>
		.popup-location__flex 

			.location-map-prev
				.location-map-prev__img 
					.swiper.location-map-prev__slider 
						.swiper-wrapper
							.swiper-slide 
								+picture('l-1','jpg')
							.swiper-slide 
								+picture('l-2','jpg')
							.swiper-slide 
								+picture('l-3','jpg')
						.location-map-prev__slider-pagi
					ul.location-map-prev__tags 
						li 
							span Готовая локация
				.location-map-prev__content
					.location-map-prev__title  Сова «На прудах»
					ul.location-map-prev__list
						li 
							img(src="img/l-2.svg", alt="")
							| 9 коттеджей «Комфорт» 54 м
							sup 2  
							| до 6 гостей
						li 
							img(src="img/l-2.svg", alt="")
							| 2 коттеджа «Лайт» на 2 гостя
			
						li 
							img(src="img/l-3.svg", alt="")
							| 2 глэмпинга на 2 гостя
			
						li 
							img(src="img/l-4.svg", alt="")
							| 2 бани «Комфорт» на 4–6 гостей
			
						li 
							img(src="img/l-5.svg", alt="")
							| 2 купели «Фурако» на 4–6 гостей
					a(href="#").btn-4.location-map-prev__link Подробнее о локации 
			
.popup-location#popup-location-1
	.popup-location__overlay 
	.popup-location__wrapper 
		.popup-location__close
			<svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1 1L28 28M1 28L28 1" stroke="currentColor" stroke-width="2"/>
			</svg>
		.popup-location__flex 

			.location-map-prev
				.location-map-prev__img 
					.swiper.location-map-prev__slider 
						.swiper-wrapper
							.swiper-slide 
								+picture('l-1','jpg')
							.swiper-slide 
								+picture('l-2','jpg')
							.swiper-slide 
								+picture('l-3','jpg')
						.location-map-prev__slider-pagi
					ul.location-map-prev__tags 
						li 
							span Готовая локация
				.location-map-prev__content
					.location-map-prev__title  Сова «На прудах»
					ul.location-map-prev__list
						li 
							img(src="img/l-2.svg", alt="")
							| 9 коттеджей «Комфорт» 54 м
							sup 2  
							| до 6 гостей
						li 
							img(src="img/l-2.svg", alt="")
							| 2 коттеджа «Лайт» на 2 гостя
			
						li 
							img(src="img/l-3.svg", alt="")
							| 2 глэмпинга на 2 гостя
			
						li 
							img(src="img/l-4.svg", alt="")
							| 2 бани «Комфорт» на 4–6 гостей
			
						li 
							img(src="img/l-5.svg", alt="")
							| 2 купели «Фурако» на 4–6 гостей
					a(href="#").btn-4.location-map-prev__link Подробнее о локации 
			
.popup-location#popup-location-1
	.popup-location__overlay 
	.popup-location__wrapper 
		.popup-location__close
			<svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1 1L28 28M1 28L28 1" stroke="currentColor" stroke-width="2"/>
			</svg>
		.popup-location__flex 

			.location-map-prev
				.location-map-prev__img 
					.swiper.location-map-prev__slider 
						.swiper-wrapper
							.swiper-slide 
								+picture('l-1','jpg')
							.swiper-slide 
								+picture('l-2','jpg')
							.swiper-slide 
								+picture('l-3','jpg')
						.location-map-prev__slider-pagi
					ul.location-map-prev__tags 
						li 
							span Готовая локация
				.location-map-prev__content
					.location-map-prev__title  Сова «На прудах»
					ul.location-map-prev__list
						li 
							img(src="img/l-2.svg", alt="")
							| 9 коттеджей «Комфорт» 54 м
							sup 2  
							| до 6 гостей
						li 
							img(src="img/l-2.svg", alt="")
							| 2 коттеджа «Лайт» на 2 гостя
			
						li 
							img(src="img/l-3.svg", alt="")
							| 2 глэмпинга на 2 гостя
			
						li 
							img(src="img/l-4.svg", alt="")
							| 2 бани «Комфорт» на 4–6 гостей
			
						li 
							img(src="img/l-5.svg", alt="")
							| 2 купели «Фурако» на 4–6 гостей
					a(href="#").btn-4.location-map-prev__link Подробнее о локации 
			
.popup-location#popup-location-2
	.popup-location__overlay 
	.popup-location__wrapper 
		.popup-location__close
			<svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1 1L28 28M1 28L28 1" stroke="currentColor" stroke-width="2"/>
			</svg>
		.popup-location__flex 

			.location-map-prev
				.location-map-prev__img 
					.swiper.location-map-prev__slider 
						.swiper-wrapper
							.swiper-slide 
								+picture('l-1','jpg')
							.swiper-slide 
								+picture('l-2','jpg')
							.swiper-slide 
								+picture('l-3','jpg')
						.location-map-prev__slider-pagi
					ul.location-map-prev__tags 
						li 
							span Готовая локация
				.location-map-prev__content
					.location-map-prev__title  Сова «На прудах»
					ul.location-map-prev__list
						li 
							img(src="img/l-2.svg", alt="")
							| 9 коттеджей «Комфорт» 54 м
							sup 2  
							| до 6 гостей
						li 
							img(src="img/l-2.svg", alt="")
							| 2 коттеджа «Лайт» на 2 гостя
			
						li 
							img(src="img/l-3.svg", alt="")
							| 2 глэмпинга на 2 гостя
			
						li 
							img(src="img/l-4.svg", alt="")
							| 2 бани «Комфорт» на 4–6 гостей
			
						li 
							img(src="img/l-5.svg", alt="")
							| 2 купели «Фурако» на 4–6 гостей
					a(href="#").btn-4.location-map-prev__link Подробнее о локации 
			
.popup-location#popup-location-3
	.popup-location__overlay 
	.popup-location__wrapper 
		.popup-location__close
			<svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1 1L28 28M1 28L28 1" stroke="currentColor" stroke-width="2"/>
			</svg>
		.popup-location__flex 

			.location-map-prev
				.location-map-prev__img 
					.swiper.location-map-prev__slider 
						.swiper-wrapper
							.swiper-slide 
								+picture('l-1','jpg')
							.swiper-slide 
								+picture('l-2','jpg')
							.swiper-slide 
								+picture('l-3','jpg')
						.location-map-prev__slider-pagi
					ul.location-map-prev__tags 
						li 
							span Готовая локация
				.location-map-prev__content
					.location-map-prev__title  Сова «На прудах»
					ul.location-map-prev__list
						li 
							img(src="img/l-2.svg", alt="")
							| 9 коттеджей «Комфорт» 54 м
							sup 2  
							| до 6 гостей
						li 
							img(src="img/l-2.svg", alt="")
							| 2 коттеджа «Лайт» на 2 гостя
			
						li 
							img(src="img/l-3.svg", alt="")
							| 2 глэмпинга на 2 гостя
			
						li 
							img(src="img/l-4.svg", alt="")
							| 2 бани «Комфорт» на 4–6 гостей
			
						li 
							img(src="img/l-5.svg", alt="")
							| 2 купели «Фурако» на 4–6 гостей
					a(href="#").btn-4.location-map-prev__link Подробнее о локации 
			
.popup-location#popup-location-4
	.popup-location__overlay 
	.popup-location__wrapper 
		.popup-location__close
			<svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1 1L28 28M1 28L28 1" stroke="currentColor" stroke-width="2"/>
			</svg>
		.popup-location__flex 

			.location-map-prev
				.location-map-prev__img 
					.swiper.location-map-prev__slider 
						.swiper-wrapper
							.swiper-slide 
								+picture('l-1','jpg')
							.swiper-slide 
								+picture('l-2','jpg')
							.swiper-slide 
								+picture('l-3','jpg')
						.location-map-prev__slider-pagi
					ul.location-map-prev__tags 
						li 
							span Готовая локация
				.location-map-prev__content
					.location-map-prev__title  Сова «На прудах»
					ul.location-map-prev__list
						li 
							img(src="img/l-2.svg", alt="")
							| 9 коттеджей «Комфорт» 54 м
							sup 2  
							| до 6 гостей
						li 
							img(src="img/l-2.svg", alt="")
							| 2 коттеджа «Лайт» на 2 гостя
			
						li 
							img(src="img/l-3.svg", alt="")
							| 2 глэмпинга на 2 гостя
			
						li 
							img(src="img/l-4.svg", alt="")
							| 2 бани «Комфорт» на 4–6 гостей
			
						li 
							img(src="img/l-5.svg", alt="")
							| 2 купели «Фурако» на 4–6 гостей
					a(href="#").btn-4.location-map-prev__link Подробнее о локации 
			
.popup-location#popup-location-5
	.popup-location__overlay 
	.popup-location__wrapper 
		.popup-location__close
			<svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1 1L28 28M1 28L28 1" stroke="currentColor" stroke-width="2"/>
			</svg>
		.popup-location__flex 

			.location-map-prev
				.location-map-prev__img 
					.swiper.location-map-prev__slider 
						.swiper-wrapper
							.swiper-slide 
								+picture('l-1','jpg')
							.swiper-slide 
								+picture('l-2','jpg')
							.swiper-slide 
								+picture('l-3','jpg')
						.location-map-prev__slider-pagi
					ul.location-map-prev__tags 
						li 
							span Готовая локация
				.location-map-prev__content
					.location-map-prev__title  Сова «На прудах»
					ul.location-map-prev__list
						li 
							img(src="img/l-2.svg", alt="")
							| 9 коттеджей «Комфорт» 54 м
							sup 2  
							| до 6 гостей
						li 
							img(src="img/l-2.svg", alt="")
							| 2 коттеджа «Лайт» на 2 гостя
			
						li 
							img(src="img/l-3.svg", alt="")
							| 2 глэмпинга на 2 гостя
			
						li 
							img(src="img/l-4.svg", alt="")
							| 2 бани «Комфорт» на 4–6 гостей
			
						li 
							img(src="img/l-5.svg", alt="")
							| 2 купели «Фурако» на 4–6 гостей
					a(href="#").btn-4.location-map-prev__link Подробнее о локации 
			
.popup-location#popup-location-6
	.popup-location__overlay 
	.popup-location__wrapper 
		.popup-location__close
			<svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1 1L28 28M1 28L28 1" stroke="currentColor" stroke-width="2"/>
			</svg>
		.popup-location__flex 

			.location-map-prev
				.location-map-prev__img 
					.swiper.location-map-prev__slider 
						.swiper-wrapper
							.swiper-slide 
								+picture('l-1','jpg')
							.swiper-slide 
								+picture('l-2','jpg')
							.swiper-slide 
								+picture('l-3','jpg')
						.location-map-prev__slider-pagi
					ul.location-map-prev__tags 
						li 
							span Готовая локация
				.location-map-prev__content
					.location-map-prev__title  Сова «На прудах»
					ul.location-map-prev__list
						li 
							img(src="img/l-2.svg", alt="")
							| 9 коттеджей «Комфорт» 54 м
							sup 2  
							| до 6 гостей
						li 
							img(src="img/l-2.svg", alt="")
							| 2 коттеджа «Лайт» на 2 гостя
			
						li 
							img(src="img/l-3.svg", alt="")
							| 2 глэмпинга на 2 гостя
			
						li 
							img(src="img/l-4.svg", alt="")
							| 2 бани «Комфорт» на 4–6 гостей
			
						li 
							img(src="img/l-5.svg", alt="")
							| 2 купели «Фурако» на 4–6 гостей
					a(href="#").btn-4.location-map-prev__link Подробнее о локации 
			
.popup-location#popup-location-7
	.popup-location__overlay 
	.popup-location__wrapper 
		.popup-location__close
			<svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1 1L28 28M1 28L28 1" stroke="currentColor" stroke-width="2"/>
			</svg>
		.popup-location__flex 

			.location-map-prev
				.location-map-prev__img 
					.swiper.location-map-prev__slider 
						.swiper-wrapper
							.swiper-slide 
								+picture('l-1','jpg')
							.swiper-slide 
								+picture('l-2','jpg')
							.swiper-slide 
								+picture('l-3','jpg')
						.location-map-prev__slider-pagi
					ul.location-map-prev__tags 
						li 
							span Готовая локация
				.location-map-prev__content
					.location-map-prev__title  Сова «На прудах»
					ul.location-map-prev__list
						li 
							img(src="img/l-2.svg", alt="")
							| 9 коттеджей «Комфорт» 54 м
							sup 2  
							| до 6 гостей
						li 
							img(src="img/l-2.svg", alt="")
							| 2 коттеджа «Лайт» на 2 гостя
			
						li 
							img(src="img/l-3.svg", alt="")
							| 2 глэмпинга на 2 гостя
			
						li 
							img(src="img/l-4.svg", alt="")
							| 2 бани «Комфорт» на 4–6 гостей
			
						li 
							img(src="img/l-5.svg", alt="")
							| 2 купели «Фурако» на 4–6 гостей
					a(href="#").btn-4.location-map-prev__link Подробнее о локации 
			
.popup-location#popup-location-8
	.popup-location__overlay 
	.popup-location__wrapper 
		.popup-location__close
			<svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1 1L28 28M1 28L28 1" stroke="currentColor" stroke-width="2"/>
			</svg>
		.popup-location__flex 

			.location-map-prev
				.location-map-prev__img 
					.swiper.location-map-prev__slider 
						.swiper-wrapper
							.swiper-slide 
								+picture('l-1','jpg')
							.swiper-slide 
								+picture('l-2','jpg')
							.swiper-slide 
								+picture('l-3','jpg')
						.location-map-prev__slider-pagi
					ul.location-map-prev__tags 
						li 
							span Готовая локация
				.location-map-prev__content
					.location-map-prev__title  Сова «На прудах»
					ul.location-map-prev__list
						li 
							img(src="img/l-2.svg", alt="")
							| 9 коттеджей «Комфорт» 54 м
							sup 2  
							| до 6 гостей
						li 
							img(src="img/l-2.svg", alt="")
							| 2 коттеджа «Лайт» на 2 гостя
			
						li 
							img(src="img/l-3.svg", alt="")
							| 2 глэмпинга на 2 гостя
			
						li 
							img(src="img/l-4.svg", alt="")
							| 2 бани «Комфорт» на 4–6 гостей
			
						li 
							img(src="img/l-5.svg", alt="")
							| 2 купели «Фурако» на 4–6 гостей
					a(href="#").btn-4.location-map-prev__link Подробнее о локации 
			
.popup-location#popup-location-9
	.popup-location__overlay 
	.popup-location__wrapper 
		.popup-location__close
			<svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1 1L28 28M1 28L28 1" stroke="currentColor" stroke-width="2"/>
			</svg>
		.popup-location__flex 

			.location-map-prev
				.location-map-prev__img 
					.swiper.location-map-prev__slider 
						.swiper-wrapper
							.swiper-slide 
								+picture('l-1','jpg')
							.swiper-slide 
								+picture('l-2','jpg')
							.swiper-slide 
								+picture('l-3','jpg')
						.location-map-prev__slider-pagi
					ul.location-map-prev__tags 
						li 
							span Готовая локация
				.location-map-prev__content
					.location-map-prev__title  Сова «На прудах»
					ul.location-map-prev__list
						li 
							img(src="img/l-2.svg", alt="")
							| 9 коттеджей «Комфорт» 54 м
							sup 2  
							| до 6 гостей
						li 
							img(src="img/l-2.svg", alt="")
							| 2 коттеджа «Лайт» на 2 гостя
			
						li 
							img(src="img/l-3.svg", alt="")
							| 2 глэмпинга на 2 гостя
			
						li 
							img(src="img/l-4.svg", alt="")
							| 2 бани «Комфорт» на 4–6 гостей
			
						li 
							img(src="img/l-5.svg", alt="")
							| 2 купели «Фурако» на 4–6 гостей
					a(href="#").btn-4.location-map-prev__link Подробнее о локации 
			
.popup-location#popup-location-10
	.popup-location__overlay 
	.popup-location__wrapper 
		.popup-location__close
			<svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1 1L28 28M1 28L28 1" stroke="currentColor" stroke-width="2"/>
			</svg>
		.popup-location__flex 

			.location-map-prev
				.location-map-prev__img 
					.swiper.location-map-prev__slider 
						.swiper-wrapper
							.swiper-slide 
								+picture('l-1','jpg')
							.swiper-slide 
								+picture('l-2','jpg')
							.swiper-slide 
								+picture('l-3','jpg')
						.location-map-prev__slider-pagi
					ul.location-map-prev__tags 
						li 
							span Готовая локация
				.location-map-prev__content
					.location-map-prev__title  Сова «На прудах»
					ul.location-map-prev__list
						li 
							img(src="img/l-2.svg", alt="")
							| 9 коттеджей «Комфорт» 54 м
							sup 2  
							| до 6 гостей
						li 
							img(src="img/l-2.svg", alt="")
							| 2 коттеджа «Лайт» на 2 гостя
			
						li 
							img(src="img/l-3.svg", alt="")
							| 2 глэмпинга на 2 гостя
			
						li 
							img(src="img/l-4.svg", alt="")
							| 2 бани «Комфорт» на 4–6 гостей
			
						li 
							img(src="img/l-5.svg", alt="")
							| 2 купели «Фурако» на 4–6 гостей
					a(href="#").btn-4.location-map-prev__link Подробнее о локации 
			
.popup-location#popup-location-11
	.popup-location__overlay 
	.popup-location__wrapper 
		.popup-location__close
			<svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1 1L28 28M1 28L28 1" stroke="currentColor" stroke-width="2"/>
			</svg>
		.popup-location__flex 

			.location-map-prev
				.location-map-prev__img 
					.swiper.location-map-prev__slider 
						.swiper-wrapper
							.swiper-slide 
								+picture('l-1','jpg')
							.swiper-slide 
								+picture('l-2','jpg')
							.swiper-slide 
								+picture('l-3','jpg')
						.location-map-prev__slider-pagi
					ul.location-map-prev__tags 
						li 
							span Готовая локация
				.location-map-prev__content
					.location-map-prev__title  Сова «На прудах»
					ul.location-map-prev__list
						li 
							img(src="img/l-2.svg", alt="")
							| 9 коттеджей «Комфорт» 54 м
							sup 2  
							| до 6 гостей
						li 
							img(src="img/l-2.svg", alt="")
							| 2 коттеджа «Лайт» на 2 гостя
			
						li 
							img(src="img/l-3.svg", alt="")
							| 2 глэмпинга на 2 гостя
			
						li 
							img(src="img/l-4.svg", alt="")
							| 2 бани «Комфорт» на 4–6 гостей
			
						li 
							img(src="img/l-5.svg", alt="")
							| 2 купели «Фурако» на 4–6 гостей
					a(href="#").btn-4.location-map-prev__link Подробнее о локации 
			
.popup-location#popup-location-12
	.popup-location__overlay 
	.popup-location__wrapper 
		.popup-location__close
			<svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1 1L28 28M1 28L28 1" stroke="currentColor" stroke-width="2"/>
			</svg>
		.popup-location__flex 

			.location-map-prev
				.location-map-prev__img 
					.swiper.location-map-prev__slider 
						.swiper-wrapper
							.swiper-slide 
								+picture('l-1','jpg')
							.swiper-slide 
								+picture('l-2','jpg')
							.swiper-slide 
								+picture('l-3','jpg')
						.location-map-prev__slider-pagi
					ul.location-map-prev__tags 
						li 
							span Готовая локация
				.location-map-prev__content
					.location-map-prev__title  Сова «На прудах»
					ul.location-map-prev__list
						li 
							img(src="img/l-2.svg", alt="")
							| 9 коттеджей «Комфорт» 54 м
							sup 2  
							| до 6 гостей
						li 
							img(src="img/l-2.svg", alt="")
							| 2 коттеджа «Лайт» на 2 гостя
			
						li 
							img(src="img/l-3.svg", alt="")
							| 2 глэмпинга на 2 гостя
			
						li 
							img(src="img/l-4.svg", alt="")
							| 2 бани «Комфорт» на 4–6 гостей
			
						li 
							img(src="img/l-5.svg", alt="")
							| 2 купели «Фурако» на 4–6 гостей
					a(href="#").btn-4.location-map-prev__link Подробнее о локации 
			
