.popup#feedback-popup
	.popup__overlay 
	.popup__wrapper 
		.popup__close
			<svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1 1L28 28M1 28L28 1" stroke="white" stroke-width="2"/>
			</svg>

		.h1 Форма заявки
		p Порог входа от 1 125 000 ₽ 100% собственность коттеджа и земли.
		form.feedback-popup#feedback-popup(action="/" method="post")
			.feedback-popup__form-inpts 
				label.input
					input(type="text" placeholder="Имя Фамилия" name="name" data-rule-required)
				label.input
					input(type="text" placeholder="Телефон" name="phone" data-rule-required)._mask-phone
			label.checkbox
				input(type="checkbox" name="agree"  data-rule-required ) 
				.checkbox__indicator 
					<svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M1.5 4L4.5 6.5L8.5 1.5" stroke-width="2"/>
					</svg>

				.checkbox__text Отправляя данные в эту форму, я даю согласие на обработку
					br
					| моих персональных данных
			button(type="submit").btn-3 Отправить
.popup#feedback-popup-thanks
	.popup__overlay 
	.popup__wrapper 
		.popup__close
			<svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1 1L28 28M1 28L28 1" stroke="white" stroke-width="2"/>
			</svg>

		.h1 Спасибо! Ваша заявка успешно отправлена!
		p Скоро мы с вами свяжемся.
.popup#feedback-popup-error
	.popup__overlay 
	.popup__wrapper 
		.popup__close
			<svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1 1L28 28M1 28L28 1" stroke="white" stroke-width="2"/>
			</svg>

		.h1 Произошла ошибка!!!
		p Попробуйте позже
.video-popup#video-popup
	.video-popup__overlay 
	.video-popup__close
		<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M1 0.999756L13 12.9998M1 12.9998L13 0.999756" stroke="#2F3740" stroke-width="2"/>
		</svg>
	.video-popup__flex 
		.video-popup__wrap 
			video(src="") 