$primary: #edbe65;
$black: #1b1d1c;
$blue: #364de7;
$gray: #5a6171;
$beige: #fff2e0;
$wh-gray: rgba(26, 26, 71, 0.05);
$red: #ea182c;
$pink: rgba(255, 46, 90, 1);
$green: #A0BA4F;

$grandient: linear-gradient(136.6deg, #A0BA4F 0%, #7A8E3B 97.35%);

$dark-purple: #1a1a47;