extends ../../layout/layout
block title
	title Sova 

block content
	
	+breadcrumb(['Главная '], 'Новости и публикации')
	.news-page 
		.head-row
			.h1 Новости и публикации
			.filters 
				.filters__wrap
					.filters__flex
						a(href='#').filters__btn._active Все
						a(href='#').filters__btn Новости
						a(href='#').filters__btn Публикации
	
		.news-row(data-aos="fade-up")
			+newsPreview("«Сеть загородных коттеджей „Сова“ в финале престижной петербургской премии Фонтанка.ру „Признание и влияние“","nd-1","6 февраля 2023")
			+newsPreview("Сеть коттеджей «Сова» стала участником SPA Business Forum","nd-2","6 февраля 2023")
			+newsPreview("Сеть коттеджей «Сова» — партнёры фестиваля «Стереолето» 2022","nd-3","12 июля 2022")
			+newsPreview("«Сеть загородных коттеджей „Сова“ в финале престижной петербургской премии Фонтанка.ру „Признание и влияние“","nd-4","6 февраля 2023")
			+newsPreview("Виталий Шеверда, генеральный директор сети коттеджей «Сова» — гость передачи «Экспертная среда» на «Питер ФМ»","nd-5","6 февраля 2023")
			+newsPreview("Запущена обновлённая локация «Таменгонт»","nd-6","12 июля 2022")
			
		+paginator