.preload 
	<svg id="preload-img"width="190" height="320" viewBox="0 0 190 320" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path fill-rule="evenodd" clip-rule="evenodd" d="M69.7072 239.426C70.5003 231.281 68.0654 223.18 62.3076 217.391C56.5555 211.602 48.6644 209.313 40.818 210.366C40.025 218.511 42.4599 226.612 48.2176 232.401C53.9698 238.189 61.8609 240.479 69.7072 239.426Z" fill="#fff" class="svg-elem-1"></path>
		<path d="M69.7072 239.426C70.5003 231.281 68.0654 223.18 62.3076 217.391C56.5555 211.602 48.6644 209.313 40.818 210.366C40.025 218.511 42.4599 226.612 48.2176 232.401C53.9698 238.189 61.8609 240.479 69.7072 239.426Z" stroke="#688336" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-elem-2"></path>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M93.9613 238.969C91.8224 234 91.7944 228.267 94.3969 223.185C96.9937 218.104 101.199 214.834 106.527 213.575C108.666 218.544 109.179 224.155 106.577 229.242C103.98 234.323 99.289 237.716 93.9613 238.975V238.969Z" fill="#fff" class="svg-elem-3"></path>
		<path d="M93.9613 238.969C91.8224 234 91.7944 228.267 94.3969 223.185C96.9937 218.104 101.199 214.834 106.527 213.575C108.666 218.544 109.179 224.155 106.577 229.242C103.98 234.323 99.289 237.716 93.9613 238.975V238.969Z" stroke="#688336" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-elem-4"></path>
		<path d="M74.4318 205.095C105.734 201.724 117.031 225.765 122.767 231.765" stroke="#688336" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-elem-5"></path>
		<path d="M182.55 130.889C177.982 247.137 -16.1954 167.109 6.56754 257.422C16.1396 295.402 53.6236 318.329 92.1128 318.329M92.1128 1.67139C42.3706 1.67139 1.67542 42.2703 1.67542 91.8949V207.936" stroke="#688336" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-elem-6"></path>
		<path d="M92.1127 1.67139C141.855 1.67139 182.55 42.2703 182.55 91.8949V155.727M92.1127 318.334C141.855 318.334 182.55 277.735 182.55 228.111V178.586" stroke="#688336" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-elem-7"></path>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M138.258 192.52C141.799 203.663 158.218 205.897 167.237 200.527C161.954 188.916 145.943 187.891 138.258 192.52Z" fill="#fff" class="svg-elem-8"></path>
		<path d="M138.258 192.52C141.799 203.663 158.218 205.897 167.237 200.527C161.954 188.916 145.943 187.891 138.258 192.52Z" stroke="#688336" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-elem-9"></path>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M168.214 172.486C175.854 169.655 182.444 163.493 185.906 154.93C189.369 146.367 188.989 137.152 185.588 129.48C177.948 132.31 171.359 138.472 167.896 147.035C164.434 155.604 164.813 164.814 168.214 172.486Z" fill="#fff" class="svg-elem-10"></path>
		<path d="M168.214 172.486C175.854 169.655 182.444 163.493 185.906 154.93C189.369 146.367 188.989 137.152 185.588 129.48C177.948 132.31 171.359 138.472 167.896 147.035C164.434 155.604 164.813 164.814 168.214 172.486Z" stroke="#688336" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-elem-11"></path>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M154.365 216.633C155.398 210.327 154.002 204.014 149.992 199.451C145.976 194.888 140.716 192.949 134.763 193.662C133.729 199.969 134.578 206.337 138.594 210.9C142.609 215.463 148.411 217.347 154.37 216.633H154.365Z" fill="#fff" class="svg-elem-12"></path>
		<path d="M154.365 216.633C155.398 210.327 154.002 204.014 149.992 199.451C145.976 194.888 140.716 192.949 134.763 193.662C133.729 199.969 134.578 206.337 138.594 210.9C142.609 215.463 148.411 217.347 154.37 216.633H154.365Z" stroke="#688336" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-elem-13"></path>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M133.612 242.435C134.612 234.172 132.445 226.044 126.972 220.327C121.499 214.611 114.546 212.382 106.845 213.636C105.845 221.898 107.309 230.133 112.776 235.849C118.249 241.566 125.905 243.694 133.612 242.435Z" fill="#fff" class="svg-elem-14"></path>
		<path d="M133.612 242.435C134.612 234.172 132.445 226.044 126.972 220.327C121.499 214.611 114.546 212.382 106.845 213.636C105.845 221.898 107.309 230.133 112.776 235.849C118.249 241.566 125.905 243.694 133.612 242.435Z" stroke="#688336" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-elem-15"></path>
		<path d="M85.9418 214.126C82.1275 220.651 81.206 228.846 82.8311 236.563" stroke="#688336" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-elem-16"></path>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M158.335 140.662C164.484 144.266 168.946 150.116 170.085 157.108C171.224 164.101 168.806 170.809 164.054 175.773C157.905 172.168 153.443 166.318 152.304 159.326C151.165 152.334 153.583 145.626 158.335 140.662Z" fill="#fff" class="svg-elem-17"></path>
		<path d="M158.335 140.662C164.484 144.266 168.946 150.116 170.085 157.108C171.224 164.101 168.806 170.809 164.054 175.773C157.905 172.168 153.443 166.318 152.304 159.326C151.165 152.334 153.583 145.626 158.335 140.662Z" stroke="#688336" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-elem-18"></path>
		<path d="M17.8987 219.169C30.0061 211.246 36.9255 186.581 26.0634 164.418" stroke="#688336" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-elem-19"></path>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M18.3064 145.414C24.3546 147.409 29.3584 151.676 31.6704 157.571C33.9825 163.465 33.1392 169.772 29.928 175.004C23.8799 173.009 18.8761 168.742 16.564 162.847C14.252 156.952 15.0953 150.646 18.3064 145.414Z" fill="#fff" class="svg-elem-20"></path>
		<path d="M18.3064 145.414C24.3546 147.409 29.3584 151.676 31.6704 157.571C33.9825 163.465 33.1392 169.772 29.928 175.004C23.8799 173.009 18.8761 168.742 16.564 162.847C14.252 156.952 15.0953 150.646 18.3064 145.414Z" stroke="#688336" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-elem-21"></path>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M49.2675 185.456C48.8933 189.801 46.8326 193.807 43.2585 196.292C39.6843 198.771 35.3283 199.212 31.3185 197.908C31.6927 193.562 33.7534 189.556 37.3276 187.071C40.9018 184.592 45.2578 184.152 49.2675 185.456Z" fill="#fff" class="svg-elem-22"></path>
		<path d="M49.2675 185.456C48.8933 189.801 46.8326 193.807 43.2585 196.292C39.6843 198.771 35.3283 199.212 31.3185 197.908C31.6927 193.562 33.7534 189.556 37.3276 187.071C40.9018 184.592 45.2578 184.152 49.2675 185.456Z" stroke="#688336" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-elem-23"></path>
		<path d="M58.8843 163.009C65.731 174.837 78.3243 182.119 92.0346 182.119C109.71 182.119 124.582 170.162 128.971 153.916H53.7185" stroke="#688336" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-elem-24"></path>
		<path d="M92.0345 152.139C92.0345 137.241 101.389 130.104 110.112 126.104" stroke="#688336" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-elem-25"></path>
		//- <path fill-rule="evenodd" clip-rule="evenodd" d="M141.598 116.264C129.976 109.245 112.871 113.964 109.52 126.377C121.862 133.831 138.063 129.363 141.598 116.264Z" fill="#fff" class="svg-elem-26"></path>
		<path d="M141.598 116.264C129.976 109.245 112.871 113.964 109.52 126.377C121.862 133.831 138.063 129.363 141.598 116.264Z" stroke="#688336" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-elem-27"></path>
		<path d="M92.0345 153.916V83.8164" stroke="#688336" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-elem-28"></path>
		<path d="M92.0345 145.436C91.1857 137.87 84.5009 134.015 79.5976 132.132" stroke="#688336" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-elem-29"></path>
		//- <path fill-rule="evenodd" clip-rule="evenodd" d="M79.4413 132.076C65.9097 143.057 48.5639 134.617 42.6274 119.724C56.2483 111.362 75.4259 114.838 79.4413 132.076Z" fill="#fff" class="svg-elem-30"></path>
		<path d="M79.4413 132.076C65.9097 143.057 48.5639 134.617 42.6274 119.724C56.2483 111.362 75.4259 114.838 79.4413 132.076Z" stroke="#688336" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-elem-31"></path>
		<path d="M112.24 138.856C118.696 142.205 126.425 142.528 133.417 140.483" stroke="#688336" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-elem-32"></path>
		<path d="M92.0346 113.128C95.43 113.128 98.6691 112.442 101.612 111.2C104.555 109.957 107.208 108.158 109.436 105.94C111.665 103.717 113.463 101.077 114.708 98.1349C115.953 95.1987 116.64 91.9673 116.64 88.5799C116.64 85.1925 115.953 81.9611 114.708 79.0249C113.463 76.0888 111.659 73.4424 109.436 71.2194C107.214 68.9964 104.561 67.2024 101.612 65.9599C98.6691 64.7175 95.43 64.0322 92.0346 64.0322C88.6391 64.0322 85.4 64.7175 82.4569 65.9599C79.5138 67.2024 76.8611 69.0019 74.6329 71.2194C72.4046 73.4368 70.6064 76.0832 69.361 79.0249C68.1156 81.9611 67.4287 85.1925 67.4287 88.5799C67.4287 91.9673 68.1156 95.1987 69.361 98.1349C70.6064 101.071 72.4102 103.717 74.6329 105.94C76.8611 108.163 79.5082 109.957 82.4569 111.2" stroke="#688336" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-elem-33"></path>
		<path d="M80.575 91.6887L92.0346 81.5376L103.494 91.6887" stroke="#688336" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-elem-34"></path>
		<path d="M82.0571 294.23L89.6535 281.694C89.8602 281.354 90.2323 281.169 90.6353 281.22L91.7412 281.354C92.0926 281.395 92.3716 281.591 92.5267 281.911C92.6817 282.23 92.661 282.571 92.4853 282.87L83.5764 297.446C83.3697 297.786 82.9976 297.972 82.5946 297.92L80.6412 297.683C80.2382 297.631 79.9281 297.374 79.8041 296.992L74.6158 280.725C74.5125 280.395 74.5745 280.055 74.8019 279.787C75.0292 279.519 75.3496 279.385 75.701 279.426L76.8172 279.56C77.2203 279.612 77.5303 279.87 77.6544 280.251L82.0675 294.23H82.0571ZM59.5989 286.88L65.3349 276.55C65.6036 276.066 66.2134 275.891 66.6991 276.159L67.6499 276.684C68.1357 276.952 68.3114 277.561 68.0427 278.045L60.498 291.642C60.2293 292.127 59.6195 292.302 59.1338 292.034L57.8419 291.323C57.5732 291.178 57.4078 290.941 57.3458 290.642L54.2762 274.787L48.3852 284.952C48.1165 285.436 47.5067 285.612 47.021 285.344L46.0701 284.818C45.5844 284.55 45.4087 283.942 45.6774 283.457L53.3771 270.025C53.6458 269.54 54.2556 269.365 54.7413 269.633L56.0332 270.344C56.3019 270.489 56.4673 270.726 56.5293 271.025L59.5989 286.88ZM33.2029 269.19L41.688 260.778L39.9621 259.046C39.435 258.51 39.3213 257.768 39.714 257.376L40.2824 256.809C40.6752 256.417 41.4296 256.541 41.9567 257.067L44.3958 259.51L44.7782 259.891L45.1606 260.273L47.5997 262.716C48.1268 263.252 48.2405 263.994 47.8478 264.386L47.2793 264.953C46.8866 265.345 46.1321 265.231 45.605 264.695L43.8791 262.963L35.3939 271.375L37.1199 273.107C37.647 273.643 37.7607 274.385 37.3679 274.777L36.7995 275.344C36.4068 275.736 35.6523 275.612 35.1252 275.086L32.6861 272.643L32.3037 272.252L31.9213 271.87L29.4822 269.427C28.9551 268.891 28.8414 268.149 29.2342 267.757L29.8026 267.19C30.1953 266.798 30.9498 266.912 31.4769 267.448L33.2029 269.18V269.19ZM103.554 283.272L104.422 287.611L113.869 285.704C114.417 285.601 114.944 285.952 115.047 286.488L115.202 287.271C115.305 287.807 114.954 288.343 114.417 288.446L104.97 290.354L105.838 294.694L117.062 292.457C117.61 292.353 118.137 292.704 118.241 293.24L118.427 294.168C118.53 294.714 118.179 295.24 117.641 295.343L104.36 297.982C103.823 298.085 103.286 297.735 103.182 297.199L101.932 290.951L99.8439 291.364C99.2962 291.467 98.7691 291.116 98.6657 290.58L98.5107 289.797C98.4074 289.251 98.7587 288.725 99.2962 288.622L101.384 288.209L100.133 281.962C100.03 281.416 100.381 280.89 100.919 280.787L110.489 278.787C111.037 278.684 111.564 279.035 111.667 279.571L111.853 280.499C111.957 281.035 111.605 281.571 111.068 281.674L103.554 283.261V283.272ZM134.043 284.148C135.273 283.364 137.505 281.746 136.472 280.117C136.089 279.519 135.469 279.365 134.787 279.406C133.568 279.478 131.924 280.169 130.787 280.643C129.185 281.323 126.829 282.21 125.093 282.127C123.677 282.055 122.633 281.292 121.899 280.117C119.667 276.592 122.385 273.829 125.237 272.004L129.454 269.355C129.94 269.046 130.601 269.19 130.911 269.685L131.356 270.396C131.666 270.891 131.521 271.54 131.025 271.85L126.808 274.499C125.661 275.21 123.398 276.777 124.411 278.375C124.762 278.921 125.299 279.076 125.92 279.035C127.056 278.952 128.627 278.282 129.682 277.849C131.366 277.158 133.836 276.241 135.655 276.313C137.123 276.375 138.198 277.148 138.963 278.354C141.226 281.921 138.487 284.756 135.614 286.642L130.364 289.797C129.878 290.106 129.216 289.962 128.906 289.467L128.462 288.756C128.152 288.271 128.297 287.611 128.793 287.302L134.043 284.137V284.148ZM144.337 259.026L154.651 267.901C155.075 268.262 155.116 268.901 154.755 269.314L154.041 270.138C153.68 270.561 153.039 270.602 152.626 270.241L142.311 261.366L138.869 265.293C138.508 265.716 137.867 265.757 137.454 265.396L136.74 264.778C136.317 264.417 136.275 263.778 136.637 263.366L145.546 253.17C145.908 252.748 146.549 252.706 146.962 253.067L147.675 253.686C148.099 254.046 148.14 254.686 147.778 255.098L144.337 259.026ZM131.304 50.7184L123.232 45.6363L120.421 47.4403C120.08 47.6568 119.677 47.6568 119.336 47.4403L118.396 46.8424C118.096 46.6568 117.93 46.3476 117.93 45.9971C117.93 45.6466 118.096 45.3373 118.396 45.1518L132.823 35.8843C133.164 35.6678 133.568 35.6678 133.909 35.8843L135.573 36.9358C135.914 37.1522 136.079 37.5131 136.027 37.9151L133.774 54.8831C133.733 55.2336 133.526 55.512 133.206 55.6563C132.885 55.8006 132.544 55.78 132.245 55.5944L131.325 55.0172C130.984 54.8007 130.818 54.4296 130.87 54.0378L131.325 50.7081H131.304V50.7184ZM104.546 38.4408L113.466 26.8024C113.714 26.4828 114.096 26.3488 114.489 26.4312L115.574 26.689C115.915 26.7714 116.173 26.9982 116.298 27.3281C116.411 27.658 116.36 27.9982 116.142 28.2765L105.694 41.8015C105.446 42.121 105.063 42.255 104.67 42.1623L102.758 41.719C102.366 41.6262 102.076 41.3376 102.004 40.9458L98.6244 24.2046C98.5521 23.8644 98.6554 23.5345 98.9138 23.2871C99.1618 23.0397 99.5029 22.9469 99.8439 23.0294L100.929 23.2871C101.322 23.3799 101.611 23.6685 101.684 24.0706L104.546 38.4408ZM69.655 27.4827C71.0812 25.4725 73.696 24.6169 76.0317 24.2149C78.3572 23.8128 81.1166 23.751 83.132 25.1736C85.1474 26.5962 86.0052 29.2043 86.4082 31.534C86.8113 33.8535 86.8733 36.6059 85.4471 38.6161C84.0208 40.6263 81.406 41.4819 79.0703 41.8839C76.7449 42.286 73.9854 42.3478 71.97 40.9252C69.9547 39.5026 69.0969 36.8945 68.6938 34.5648C68.2907 32.235 68.2287 29.4929 69.655 27.4827ZM72.3318 29.2661C71.4016 30.6062 71.4843 32.5133 71.7427 34.0493C72.0114 35.5853 72.5695 37.41 73.8924 38.3584C75.2049 39.2964 77.0446 39.2449 78.5639 38.9872C80.0831 38.7295 81.8401 38.1625 82.7599 36.843C83.6901 35.5029 83.6074 33.5958 83.349 32.0598C83.0803 30.5238 82.5222 28.6991 81.1993 27.7507C79.8868 26.8127 78.0471 26.8642 76.5278 27.1219C75.0086 27.3796 73.2516 27.9466 72.3318 29.2661ZM55.0824 49.1103C56.3536 48.3784 58.6584 46.863 57.6972 45.193C57.3458 44.5745 56.7257 44.3992 56.0539 44.4095C54.8343 44.4302 53.16 45.0384 52.0128 45.461C50.3799 46.0692 47.9925 46.8527 46.2562 46.6878C44.8402 46.5537 43.8377 45.7394 43.1556 44.5436C41.0886 40.9252 43.9204 38.2862 46.8556 36.5853L52.3126 33.4824C52.819 33.1937 53.4598 33.369 53.7492 33.8741L54.1626 34.606C54.4519 35.1111 54.2762 35.7503 53.7698 36.0389L48.3129 39.1418C47.1347 39.8016 44.7989 41.2654 45.7394 42.9148C46.0598 43.4818 46.5972 43.657 47.2173 43.6364C48.3542 43.5952 49.9561 43.0076 51.031 42.6261C52.7466 42.0076 55.2477 41.2036 57.0667 41.3685C58.524 41.4922 59.5678 42.3066 60.281 43.5539C62.379 47.2238 59.5162 49.935 56.5603 51.6875L50.8553 54.9244C50.3489 55.213 49.7081 55.0378 49.4187 54.5327L49.0053 53.811C48.7159 53.3059 48.8916 52.6668 49.3981 52.3781L55.1031 49.1309L55.0824 49.1103ZM132.803 39.4614L125.951 43.8735L131.728 47.5021L132.803 39.4511V39.4614Z" fill="#688336" class="svg-elem-35"></path>
	</svg>
	script.
		function getCookie(e, t = !1) {
			if (!e) return;
			let n = document.cookie.match(
				new RegExp(
					"(?:^|; )" +
						e.replace(/([.$?*|{}()\[\]\\\/+^])/g, "\\$1") +
						"=([^;]*)"
				)
			);
			if (n) {
				let e = decodeURIComponent(n[1]);
				if (t)
					try {
						return JSON.parse(e);
					} catch (e) {}
				return e;
			}
		}
		function setCookie(e, t, n = { path: "/" }) {
			if (!e) return;
			(n = n || {}).expires instanceof Date &&
				(n.expires = n.expires.toUTCString()),
				t instanceof Object && (t = JSON.stringify(t));
			let o = encodeURIComponent(e) + "=" + encodeURIComponent(t);
			for (let e in n) {
				o += "; " + e;
				let t = n[e];
				!0 !== t && (o += "=" + t);
			}
			document.cookie = o;
		}
		function deleteCookie(e) {
			setCookie(e, null, { expires: new Date(), path: "/" });
		}
		
		if (getCookie("load")) {
			document.querySelector(".preload").remove();
		} else {	
			var load = false;
		
		
			let preloadimg = document.querySelector("#preload-img");
			setTimeout(function () {
				preloadimg.classList.add("active");
				let preload = setInterval(function () {
					window.scrollTo(0, 0);
					console.log('preload',load)
					if (load) {
						$(".preload").fadeOut();
						clearInterval(preload);
					} else {
						preloadimg.classList.remove("active");
						setTimeout(function () {
							preloadimg.classList.add("active");
						}, 5000);
					}
				}, 5000);
			}, 300);
		}