extends ../../layout/layout
block title
	title Sova 

block content
	
	+breadcrumb(['Главная '], 'Новости и публикации')
	.locations-page 
		.h1 Локации и объекты
		.head-row
			.selects-filters 
				select.select2#filter-status(data-placeholder="Готовность локации")
					option() 
					option(value="all") Все
					option(value="Новинка") Новинки
					option(value="Готовые") Готовые
					option(value="Строящиеся") Строящиеся
					option(value="Скоро в продаже") Скоро в продаже
				select.select2#filter-city(data-placeholder="Город" )
					option() 
					option(value="all") Все
					option(value="Москва",data-coord="55.752998063245116,37.61664038085926") Москва
					option(value="Санкт-Петербург",data-coord="59.938955,30.315644") Санкт-Петербург
			.filters
				.filters__wrap
					.filters__flex
						button.filters__btn._active(data-slide="0") Локации на карте
							<svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M6.99928 10.0751C8.17107 10.0751 9.12209 9.11174 9.12209 7.92473C9.12209 6.73773 8.17107 5.77437 6.99928 5.77437C5.82749 5.77437 4.87647 6.73773 4.87647 7.92473C4.87647 9.11174 5.82749 10.0751 6.99928 10.0751Z" stroke="currentColor" stroke-linecap="square"/>
								<path fill-rule="evenodd" clip-rule="evenodd" d="M13.3677 7.92473C13.3677 13.3007 8.06068 16.5263 6.99928 16.5263C5.93788 16.5263 0.630859 13.3007 0.630859 7.92473C0.630859 4.36264 3.48285 1.47363 6.99928 1.47363C10.5157 1.47363 13.3677 4.36264 13.3677 7.92473Z" stroke="currentColor" stroke-linecap="square"/>
							</svg>

						button.filters__btn(data-slide="1") Локации списком
							<svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M7.5 3H15.5M7.5 11H15.5M2 1H4C4.55228 1 5 1.44772 5 2V4C5 4.55228 4.55228 5 4 5H2C1.44772 5 1 4.55228 1 4V2C1 1.44772 1.44772 1 2 1ZM2 9H4C4.55228 9 5 9.44772 5 10V12C5 12.5523 4.55228 13 4 13H2C1.44772 13 1 12.5523 1 12V10C1 9.44772 1.44772 9 2 9Z" stroke="currentColor" stroke-linecap="square"/>
							</svg>

	
		.swiper.locationlist-slide
			.swiper-wrapper
				.swiper-slide
					.locations-map
						#locations-map(data-json="json/locations.json",data-icon="img/map-icon.svg",data-activeicon="img/map-icon-active.svg")
						.location-map-prev#location-map-prev-1
							.location-map-prev__img 
								.swiper.location-map-prev__slider 
									.swiper-wrapper
										.swiper-slide 
											+picture('l-1','jpg')
										.swiper-slide 
											+picture('l-2','jpg')
										.swiper-slide 
											+picture('l-3','jpg')
									
									.location-map-prev__slider-pagi
								ul.location-map-prev__tags 
									li Новинка
									li 
										span Готовая локация
							.location-map-prev__content
								.location-map-prev__title Сова «На пляже»
								ul.location-map-prev__list
									li 
										img(src="img/l-2.svg", alt="") 
										b 9 коттеджей «Комфорт» 
										| 54 м
										sup 2  
										| до 6 гостей
									li 
										img(src="img/l-2.svg", alt="") 
										b  2 коттеджа «Лайт» 
										|  на 2 гостя
						
									li 
										img(src="img/l-3.svg", alt="") 
										b   2 глэмпинга
										| на 2 гостя
						
									li 
										img(src="img/l-4.svg", alt="")
										b 2 бани «Комфорт»
										| на 4–6 гостей
						
									li 
										img(src="img/l-5.svg", alt="")
										b  2 купели «Фурако» 
										| на 4–6 гостей
								a(href="#").btn-4.location-map-prev__link Подробнее о локации 
						.location-map-prev#location-map-prev-2
							.location-map-prev__img 
								.swiper.location-map-prev__slider 
									.swiper-wrapper
										.swiper-slide 
											+picture('l-1','jpg')
										.swiper-slide 
											+picture('l-2','jpg')
										.swiper-slide 
											+picture('l-3','jpg')
									.location-map-prev__slider-pagi
								ul.location-map-prev__tags 
									li 
										span Готовая локация
							.location-map-prev__content
								.location-map-prev__title  Сова «На прудах»
								ul.location-map-prev__list
									li 
										img(src="img/l-2.svg", alt="") 
										b 9 коттеджей «Комфорт» 
										| 54 м
										sup 2  
										| до 6 гостей
									li 
										img(src="img/l-2.svg", alt="") 
										b  2 коттеджа «Лайт» 
										|  на 2 гостя
						
									li 
										img(src="img/l-3.svg", alt="") 
										b   2 глэмпинга
										| на 2 гостя
						
									li 
										img(src="img/l-4.svg", alt="") 
										b 2 бани «Комфорт»
										| на 4–6 гостей
						
									li 
										img(src="img/l-5.svg", alt="") 
										b  2 купели «Фурако» 
										| на 4–6 гостей
								a(href="#").btn-4.location-map-prev__link Подробнее о локации 
						
						.location-map-prev#location-map-prev-3
							.location-map-prev__img 
								.swiper.location-map-prev__slider 
									.swiper-wrapper
										.swiper-slide 
											+picture('l-1','jpg')
										.swiper-slide 
											+picture('l-2','jpg')
										.swiper-slide 
											+picture('l-3','jpg')
									.location-map-prev__slider-pagi
								ul.location-map-prev__tags 
									li
										span Готовая локация
							.location-map-prev__content
								.location-map-prev__title Сова «Форелевая ферма»
								ul.location-map-prev__list
									li 
										img(src="img/l-2.svg", alt="")
										b 9 коттеджей «Комфорт» 
										| 54 м
										sup 2  
										| до 6 гостей
									li 
										img(src="img/l-2.svg", alt="")
										b  2 коттеджа «Лайт» 
										|  на 2 гостя
						
									li 
										img(src="img/l-3.svg", alt="")
										b   2 глэмпинга
										| на 2 гостя
						
									li 
										img(src="img/l-4.svg", alt="")
										b 2 бани «Комфорт»
										| на 4–6 гостей
						
									li 
										img(src="img/l-5.svg", alt="")
										b  2 купели «Фурако» 
										| на 4–6 гостей
								a(href="#").btn-4.location-map-prev__link Подробнее о локации 
						
						.location-map-prev#location-map-prev-4
							.location-map-prev__img 
								.swiper.location-map-prev__slider 
									.swiper-wrapper
										.swiper-slide 
											+picture('l-1','jpg')
										.swiper-slide 
											+picture('l-2','jpg')
										.swiper-slide 
											+picture('l-3','jpg')
									.location-map-prev__slider-pagi
								ul.location-map-prev__tags 
									li 
										span Готовая локация
							.location-map-prev__content
								.location-map-prev__title Сова «Сочи»
								ul.location-map-prev__list
									li 
										img(src="img/l-2.svg", alt="")
										b 9 коттеджей «Комфорт» 
										| 54 м
										sup 2  
										| до 6 гостей
									li 
										img(src="img/l-2.svg", alt="")
										b  2 коттеджа «Лайт» 
										|  на 2 гостя
						
									li 
										img(src="img/l-3.svg", alt="")
										b   2 глэмпинга
										| на 2 гостя
						
									li 
										img(src="img/l-4.svg", alt="")
										b 2 бани «Комфорт»
										| на 4–6 гостей
						
									li 
										img(src="img/l-5.svg", alt="")
										b  2 купели «Фурако» 
										| на 4–6 гостей
								a(href="#").btn-4.location-map-prev__link Подробнее о локации 
						.location-map-prev#location-map-prev-5
							.location-map-prev__img 
								.swiper.location-map-prev__slider 
									.swiper-wrapper
										.swiper-slide 
											+picture('l-1','jpg')
										.swiper-slide 
											+picture('l-2','jpg')
										.swiper-slide 
											+picture('l-3','jpg')
									.location-map-prev__slider-pagi
								ul.location-map-prev__tags 
									li
										span Готовая локация
							.location-map-prev__content
								.location-map-prev__title Сова «На заливе»
								ul.location-map-prev__list
									li 
										img(src="img/l-2.svg", alt="")
										b 9 коттеджей «Комфорт» 
										| 54 м
										sup 2  
										| до 6 гостей
									li 
										img(src="img/l-2.svg", alt="")
										b  2 коттеджа «Лайт» 
										|  на 2 гостя
						
									li 
										img(src="img/l-3.svg", alt="")
										b   2 глэмпинга
										| на 2 гостя
						
									li 
										img(src="img/l-4.svg", alt="")
										b 2 бани «Комфорт»
										| на 4–6 гостей
						
									li 
										img(src="img/l-5.svg", alt="")
										b  2 купели «Фурако» 
										| на 4–6 гостей
								a(href="#").btn-4.location-map-prev__link Подробнее о локации 
						.location-map-prev#location-map-prev-6
							.location-map-prev__img 
								.swiper.location-map-prev__slider 
									.swiper-wrapper
										.swiper-slide 
											+picture('l-1','jpg')
										.swiper-slide 
											+picture('l-2','jpg')
										.swiper-slide 
											+picture('l-3','jpg')
									.location-map-prev__slider-pagi
								ul.location-map-prev__tags 
									li 
										span Готовая локация
							.location-map-prev__content
								.location-map-prev__title Сова «Сказка»
								ul.location-map-prev__list
									li 
										img(src="img/l-2.svg", alt="")
										b 9 коттеджей «Комфорт» 
										| 54 м
										sup 2  
										| до 6 гостей
									li 
										img(src="img/l-2.svg", alt="")
										b  2 коттеджа «Лайт» 
										|  на 2 гостя
						
									li 
										img(src="img/l-3.svg", alt="")
										b   2 глэмпинга
										| на 2 гостя
						
									li 
										img(src="img/l-4.svg", alt="")
										b 2 бани «Комфорт»
										| на 4–6 гостей
						
									li 
										img(src="img/l-5.svg", alt="")
										b  2 купели «Фурако» 
										| на 4–6 гостей
								a(href="#").btn-4.location-map-prev__link Подробнее о локации 
						.location-map-prev#location-map-prev-7
							.location-map-prev__img 
								.swiper.location-map-prev__slider 
									.swiper-wrapper
										.swiper-slide 
											+picture('l-1','jpg')
										.swiper-slide 
											+picture('l-2','jpg')
										.swiper-slide 
											+picture('l-3','jpg')
									.location-map-prev__slider-pagi
								ul.location-map-prev__tags 
									li 
										span Готовая локация
							.location-map-prev__content
								.location-map-prev__title Сова «Лыжный парк»
								ul.location-map-prev__list
									li 
										img(src="img/l-2.svg", alt="")
										b 9 коттеджей «Комфорт» 
										| 54 м
										sup 2  
										| до 6 гостей
									li 
										img(src="img/l-2.svg", alt="")
										b  2 коттеджа «Лайт» 
										|  на 2 гостя
						
									li 
										img(src="img/l-3.svg", alt="")
										b   2 глэмпинга
										| на 2 гостя
						
									li 
										img(src="img/l-4.svg", alt="")
										b 2 бани «Комфорт»
										| на 4–6 гостей
						
									li 
										img(src="img/l-5.svg", alt="")
										b  2 купели «Фурако» 
										| на 4–6 гостей
								a(href="#").btn-4.location-map-prev__link Подробнее о локации 
						.location-map-prev#location-map-prev-8
							.location-map-prev__img 
								.swiper.location-map-prev__slider 
									.swiper-wrapper
										.swiper-slide 
											+picture('l-1','jpg')
										.swiper-slide 
											+picture('l-2','jpg')
										.swiper-slide 
											+picture('l-3','jpg')
									.location-map-prev__slider-pagi
								ul.location-map-prev__tags 
									li 
										span Готовая локация
							.location-map-prev__content
								.location-map-prev__title Сова «Голубое озеро»
								ul.location-map-prev__list
									li 
										img(src="img/l-2.svg", alt="")
										b 9 коттеджей «Комфорт» 
										| 54 м
										sup 2  
										| до 6 гостей
									li 
										img(src="img/l-2.svg", alt="")
										b  2 коттеджа «Лайт» 
										|  на 2 гостя
						
									li 
										img(src="img/l-3.svg", alt="")
										b   2 глэмпинга
										| на 2 гостя
						
									li 
										img(src="img/l-4.svg", alt="")
										b 2 бани «Комфорт»
										| на 4–6 гостей
						
									li 
										img(src="img/l-5.svg", alt="")
										b  2 купели «Фурако» 
										| на 4–6 гостей
								a(href="#").btn-4.location-map-prev__link Подробнее о локации 
						.location-map-prev#location-map-prev-9
							.location-map-prev__img 
								.swiper.location-map-prev__slider 
									.swiper-wrapper
										.swiper-slide 
											+picture('l-1','jpg')
										.swiper-slide 
											+picture('l-2','jpg')
										.swiper-slide 
											+picture('l-3','jpg')
									.location-map-prev__slider-pagi
								ul.location-map-prev__tags 
									li
										span Готовая локация
							.location-map-prev__content
								.location-map-prev__title Сова «На речке»
								ul.location-map-prev__list
									li 
										img(src="img/l-2.svg", alt="")
										b 9 коттеджей «Комфорт» 
										| 54 м
										sup 2  
										| до 6 гостей
									li 
										img(src="img/l-2.svg", alt="")
										b  2 коттеджа «Лайт» 
										|  на 2 гостя
						
									li 
										img(src="img/l-3.svg", alt="")
										b   2 глэмпинга
										| на 2 гостя
						
									li 
										img(src="img/l-4.svg", alt="")
										b 2 бани «Комфорт»
										| на 4–6 гостей
						
									li 
										img(src="img/l-5.svg", alt="")
										b  2 купели «Фурако» 
										| на 4–6 гостей
								a(href="#").btn-4.location-map-prev__link Подробнее о локации 
						.location-map-prev#location-map-prev-10
							.location-map-prev__img 
								.swiper.location-map-prev__slider 
									.swiper-wrapper
										.swiper-slide 
											+picture('l-1','jpg')
										.swiper-slide 
											+picture('l-2','jpg')
										.swiper-slide 
											+picture('l-3','jpg')
									.location-map-prev__slider-pagi
								ul.location-map-prev__tags 
									li
										span Готовая локация
							.location-map-prev__content
								.location-map-prev__title Сова «Сказка Вест»
								ul.location-map-prev__list
									li 
										img(src="img/l-2.svg", alt="")
										b 9 коттеджей «Комфорт» 
										| 54 м
										sup 2  
										| до 6 гостей
									li 
										img(src="img/l-2.svg", alt="")
										b  2 коттеджа «Лайт» 
										|  на 2 гостя
						
									li 
										img(src="img/l-3.svg", alt="")
										b   2 глэмпинга
										| на 2 гостя
						
									li 
										img(src="img/l-4.svg", alt="")
										b 2 бани «Комфорт»
										| на 4–6 гостей
						
									li 
										img(src="img/l-5.svg", alt="")
										b  2 купели «Фурако» 
										| на 4–6 гостей
								a(href="#").btn-4.location-map-prev__link Подробнее о локации 
						.location-map-prev#location-map-prev-11
							.location-map-prev__img 
								.swiper.location-map-prev__slider 
									.swiper-wrapper
										.swiper-slide 
											+picture('l-1','jpg')
										.swiper-slide 
											+picture('l-2','jpg')
										.swiper-slide 
											+picture('l-3','jpg')
									.location-map-prev__slider-pagi
								ul.location-map-prev__tags 
									li
										span Готовая локация
							.location-map-prev__content
								.location-map-prev__title Сова «Таменгонт»
								ul.location-map-prev__list
									li 
										img(src="img/l-2.svg", alt="")
										b 9 коттеджей «Комфорт» 
										| 54 м
										sup 2  
										| до 6 гостей
									li 
										img(src="img/l-2.svg", alt="")
										b  2 коттеджа «Лайт» 
										|  на 2 гостя
						
									li 
										img(src="img/l-3.svg", alt="")
										b   2 глэмпинга
										| на 2 гостя
						
									li 
										img(src="img/l-4.svg", alt="")
										b 2 бани «Комфорт»
										| на 4–6 гостей
						
									li 
										img(src="img/l-5.svg", alt="")
										b  2 купели «Фурако» 
										| на 4–6 гостей
								a(href="#").btn-4.location-map-prev__link Подробнее о локации 
						.location-map-prev#location-map-prev-12
							.location-map-prev__img 
								.swiper.location-map-prev__slider 
									.swiper-wrapper
										.swiper-slide 
											+picture('l-1','jpg')
										.swiper-slide 
											+picture('l-2','jpg')
										.swiper-slide 
											+picture('l-3','jpg')
									.location-map-prev__slider-pagi
								ul.location-map-prev__tags 
									li 
										span Готовая локация
							.location-map-prev__content
								.location-map-prev__title Сова «Сойкино» 
								ul.location-map-prev__list
									li 
										img(src="img/l-2.svg", alt="")
										b 9 коттеджей «Комфорт» 
										| 54 м
										sup 2  
										| до 6 гостей
									li 
										img(src="img/l-2.svg", alt="")
										b  2 коттеджа «Лайт» 
										|  на 2 гостя
						
									li 
										img(src="img/l-3.svg", alt="")
										b   2 глэмпинга
										| на 2 гостя
						
									li 
										img(src="img/l-4.svg", alt="")
										b 2 бани «Комфорт»
										| на 4–6 гостей
						
									li 
										img(src="img/l-5.svg", alt="")
										b  2 купели «Фурако» 
										| на 4–6 гостей
								a(href="#").btn-4.location-map-prev__link Подробнее о локации 
				.swiper-slide
					.locations-list(data-aos="fade-up") 
						.location-prev(data-city="Санкт-Петербург", data-status="Новинка|Готовая локация")
							.location-prev__row
								.location-prev__content
									ul.location-prev__tags
										li._bg 
											span Новинка
										li 
											span Готовая локация
									.location-prev__place пос. Лебяжье, 20 км от Ломоносова
									.location-prev__title Сова «На пляже»
									ul.location-prev__list
										li 
											img(src="img/l-6.svg", alt="")
											| 16 номеров «Стандарт» с отдельным входом

								.location-prev__photo
									.swiper.location-prev__gallery 
										.swiper-wrapper 
											.swiper-slide 
												+picture('l-1','jpg')
											.swiper-slide 
												+picture('l-2','jpg')
											.swiper-slide 
												+picture('l-3','jpg')
										a(href="#").location-prev__link
											.location-prev__gallery-plus
										.location-prev__gallery-nav
											.location-prev__gallery-prev
											.location-prev__gallery-next
						.location-prev(data-city="Санкт-Петербург",data-status="Готовая локация")
							.location-prev__row
								.location-prev__content
									ul.location-prev__tags
										li 
											span Готовая локация
									.location-prev__place дер. Гостилицы, 20 км от Петергофа
									.location-prev__title Сова «На прудах»
									ul.location-prev__list
										li 
											img(src="img/l-2.svg", alt="")
											b 9 коттеджей «Комфорт» 
											| 54 м
											sup 2  
											| до 6 гостей
										li 
											img(src="img/l-2.svg", alt="")
											b  2 коттеджа «Лайт» 
											|  на 2 гостя
							
										li 
											img(src="img/l-3.svg", alt="")
											b   2 глэмпинга
											| на 2 гостя
							
										li 
											img(src="img/l-4.svg", alt="")
											b 2 бани «Комфорт»
											| на 4–6 гостей
							
										li 
											img(src="img/l-5.svg", alt="")
											b  2 купели «Фурако» 
											| на 4–6 гостей
								.location-prev__photo
									.swiper.location-prev__gallery 
										.swiper-wrapper 
									
											.swiper-slide 
												+picture('l-2','jpg')
											.swiper-slide 
												+picture('l-3','jpg')
										a(href="#").location-prev__link
											.location-prev__gallery-plus
										.location-prev__gallery-nav
											.location-prev__gallery-prev
											.location-prev__gallery-next
						.location-prev(data-city="Санкт-Петербург",data-status="Готовая локация")
							.location-prev__row
								.location-prev__content
									ul.location-prev__tags
										li 
											span Готовая локация
									.location-prev__place 110 км от С-Пб
									.location-prev__title Сова «Форелевая ферма»
									ul.location-prev__list
										li 
											img(src="img/l-2.svg", alt="")
											b 8 коттеджей «Комфорт +»
											| 60 м² до 6 гостей
							
										li 
											img(src="img/l-4.svg", alt="")
											b 2 Бани «Комфорт»
											| на 4–6 гостей
							
										li 
											img(src="img/l-5.svg", alt="")
											b Купель 
											| на 4–6 гостей
								.location-prev__photo
									.swiper.location-prev__gallery 
										.swiper-wrapper 
											.swiper-slide 
												+picture('l-3','jpg')
											
											a(href="#").location-prev__link
												.location-prev__gallery-plus
											.location-prev__gallery-nav
												.location-prev__gallery-prev
												.location-prev__gallery-next
						.location-prev(data-city="Санкт-Петербург",data-status="Готовая локация")
							.location-prev__row
								.location-prev__content
									ul.location-prev__tags
										li 
											span Готовая локация
									.location-prev__place 39 км от Петергофа
									.location-prev__title Сова «Сочи»
									ul.location-prev__list
										li 
											img(src="img/l-2.svg", alt="")
											b 8 коттеджей «Комфорт +» 60 м² до 6 гостей
							
										li 
											img(src="img/l-4.svg", alt="")
											b 2 Бани 
											| «Комфорт» на 4–6 гостей
							
										li 
											img(src="img/l-5.svg", alt="")
											b Купель 
											| на 4–6 гостей
								.location-prev__photo
									.swiper.location-prev__gallery 
										.swiper-wrapper 
											.swiper-slide 
												+picture('l-4','jpg')
										a(href="#").location-prev__link
											.location-prev__gallery-plus
										.location-prev__gallery-nav
											.location-prev__gallery-prev
											.location-prev__gallery-next
						.location-prev(data-city="Санкт-Петербург",data-status="Готовая локация")
							.location-prev__row
								.location-prev__content
									ul.location-prev__tags
										li 
											span Готовая локация
									.location-prev__place пос. Лебяжье, 20 км от Ломоносова
									.location-prev__title Сова «На заливе»
									ul.location-prev__list
										li 
											img(src="img/l-2.svg", alt="")
											b 8 коттеджей «Комфорт +»
											|  60 м² до 6 гостей
							
										li 
											img(src="img/l-4.svg", alt="")
											b 2 Бани «Комфорт» 
											| на 4–6 гостей
							
										li 
											img(src="img/l-5.svg", alt="")
											b Купель 
											| на 4–6 гостей
								.location-prev__photo
									.swiper.location-prev__gallery 
										.swiper-wrapper 
											.swiper-slide 
												+picture('l-5','jpg')
										a(href="#").location-prev__link
											.location-prev__gallery-plus
										.location-prev__gallery-nav
											.location-prev__gallery-prev
											.location-prev__gallery-next
						.location-prev(data-city="Санкт-Петербург",data-status="Готовая локация")
							.location-prev__row
								.location-prev__content
									ul.location-prev__tags
										li 
											span Готовая локация
									.location-prev__place 48 км от Красного Села
									.location-prev__title Сова «Сказка»
									ul.location-prev__list
										li 
											img(src="img/l-2.svg", alt="")
											b 8 коттеджей «Комфорт +» 
											| 60 м² до 6 гостей
							
										li 
											img(src="img/l-4.svg", alt="")
											b 2 Бани «Комфорт» 
											| на 4–6 гостей
							
										li 
											img(src="img/l-5.svg", alt="")
											b Купель  
											| на  4–6 гостей
								.location-prev__photo
									.swiper.location-prev__gallery 
										.swiper-wrapper 
											.swiper-slide 
												+picture('l-6','jpg')
										a(href="#").location-prev__link
											.location-prev__gallery-pluss
										.location-prev__gallery-nav
											.location-prev__gallery-prev
											.location-prev__gallery-next
						.location-prev(data-city="Санкт-Петербург",data-status="Готовая локация")
							.location-prev__row
								.location-prev__content
									ul.location-prev__tags
										li 
											span Готовая локация
									.location-prev__place 7 км от Красного села (У горнолыжного курорта «Туутари-парк»)
									.location-prev__title Сова «Лыжный парк»
									ul.location-prev__list
										li 
											img(src="img/l-2.svg", alt="")
											b 8 коттеджей «Комфорт +»
											|  60 м² до 6 гостей
							
										li 
											img(src="img/l-4.svg", alt="")
											b 2 Бани «Комфорт» 
											| на 4–6 гостей
							
										li 
											img(src="img/l-5.svg", alt="")
											b Купель 
											| на 4–6 гостей
								.location-prev__photo
									.swiper.location-prev__gallery 
										.swiper-wrapper 
											.swiper-slide 
												+picture('l-7','jpg')
										a(href="#").location-prev__link
												.location-prev__gallery-plus
									
										.location-prev__gallery-nav
											.location-prev__gallery-prev
											.location-prev__gallery-next
						.location-prev(data-city="Санкт-Петербург",data-status="Готовая локация")
							.location-prev__row
								.location-prev__content
									ul.location-prev__tags
										li 
											span Готовая локация
									.location-prev__place 7 км от Петергофа, 5 км от КАД
									.location-prev__title Сова «Голубое озеро»
									ul.location-prev__list
										li 
											img(src="img/l-2.svg", alt="")
											b 8 коттеджей «Комфорт +» 
											| 60 м² до 6 гостей
							
										li 
											img(src="img/l-4.svg", alt="")
											b 2 Бани «Комфорт» 
											| на 4–6 гостей
							
										li 
											img(src="img/l-5.svg", alt="")
											b Купель 
											| на 4–6 гостей
								.location-prev__photo
									.swiper.location-prev__gallery 
										.swiper-wrapper 
											.swiper-slide 
												+picture('l-8','jpg')
										a(href="#").location-prev__link
											.location-prev__gallery-plus
										.location-prev__gallery-nav
											.location-prev__gallery-prev
											.location-prev__gallery-next
						.location-prev(data-city="Санкт-Петербург",data-status="Готовая локация")
							.location-prev__row
								.location-prev__content
									ul.location-prev__tags
										li 
											span Готовая локация
									.location-prev__place дер. Кипень, 11 км от Красного Села
									.location-prev__title Сова «На речке»
									ul.location-prev__list
										li 
											img(src="img/l-2.svg", alt="")
											b 8 коттеджей
											|  «Комфорт +» 60 м² до 6 гостей
							
										li 
											img(src="img/l-4.svg", alt="")
											b 2 Бани
											|  «Комфорт» на 4–6 гостей
							
										li 
											img(src="img/l-5.svg", alt="")
											b Купель
											|  на 4–6 гостей
								.location-prev__photo
									.swiper.location-prev__gallery 
										.swiper-wrapper 
											.swiper-slide 
												+picture('l-9','jpg')
										a(href="#").location-prev__link
											.location-prev__gallery-plus
										.location-prev__gallery-nav
											.location-prev__gallery-prev
											.location-prev__gallery-next
						.location-prev(data-city="Санкт-Петербург",data-status="Готовая локация")
							.location-prev__row
								.location-prev__content
									ul.location-prev__tags
										li 
											span Готовая локация
									.location-prev__place 48 км от Красного Села
									.location-prev__title Сова «Сказка Вест»
									ul.location-prev__list
										li 
											img(src="img/l-2.svg", alt="")
											b 8 коттеджей «Комфорт +» 
											|  60 м² до 6 гостей
							
										li 
											img(src="img/l-4.svg", alt="")
											b 2 Бани «Комфорт»  
											| на 4–6 гостей
							
										li 
											img(src="img/l-5.svg", alt="")
											b Купель 
											|  на 4–6 гостей
								.location-prev__photo
									.swiper.location-prev__gallery 
										.swiper-wrapper 
											.swiper-slide 
												+picture('l-10','jpg')
										a(href="#").location-prev__link
											.location-prev__gallery-plus
										.location-prev__gallery-nav
											.location-prev__gallery-prev
											.location-prev__gallery-next
						.location-prev(data-city="Москва",data-status="Готовая локация")
							.location-prev__row
								.location-prev__content
									ul.location-prev__tags
										li 
											span Готовая локация
									.location-prev__place пос. Лебяжье, 20 км от Ломоносова
									.location-prev__title Сова «Таменгонт»
									ul.location-prev__list
										li 
											img(src="img/l-2.svg", alt="")
											b 8 коттеджей «Комфорт +» 
											|  60 м² до 6 гостей
							
										li 
											img(src="img/l-4.svg", alt="")
											b 2 Бани «Комфорт» 
											|  на 4–6 гостей
							
										li 
											img(src="img/l-5.svg", alt="")
											b Купель  
											| на 4–6 гостей
								.location-prev__photo
									.swiper.location-prev__gallery 
										.swiper-wrapper 
											.swiper-slide 
												+picture('l-11','jpg')
										a(href="#").location-prev__link
											.location-prev__gallery-plus
										.location-prev__gallery-nav
											.location-prev__gallery-prev
											.location-prev__gallery-next
						.location-prev(data-city="Москва",data-status="Готовая локация")
							.location-prev__row
								.location-prev__content
									ul.location-prev__tags
										li 
											span Готовая локация
									.location-prev__place г. Ломоносов, 2 км от КАД
									.location-prev__title Сова «Сойкино»
									ul.location-prev__list
										li 
											img(src="img/l-2.svg", alt="")
											b 8 коттеджей «Комфорт +»  
											| 60 м² до 6 гостей
							
										li 
											img(src="img/l-4.svg", alt="")
											b 2 Бани «Комфорт»  
											| на 4–6 гостей
							
										li 
											img(src="img/l-5.svg", alt="")
											b Купель 
											| на 4–6 гостей
								.location-prev__photo
									.swiper.location-prev__gallery 
										.swiper-wrapper 
											.swiper-slide 
												+picture('l-12','jpg')
										a(href="#").location-prev__link
											.location-prev__gallery-plus
										.location-prev__gallery-nav
											.location-prev__gallery-prev
											.location-prev__gallery-next
